{% load static %}


<!DOCTYPE html>
<html lang="en">
    {% include "header.html" %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="{%static 'content.css' %}">
    
    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <script src="https://kit.fontawesome.com/ace75cb71d.js" crossorigin="anonymous"></script>
    
    <title>Dashboard Sidebar Menu</title> 
</head>
<body>
   <!-- nav -->
  
 <!-- header end -->

<!-- home section start -->
<section class="home-section" >
    
    <nav class="sidebar close">
        <header>
            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">


                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="homeRemedies">
                            <i class="fa-solid fa-mortar-pestle icon" title="Home Remedies"></i>
                            <span class="text nav-text">Home Remedies
                            </span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="menopause">
                            <i class="fa-solid fa-venus icon" title="Menopause"></i>
                            <span class="text nav-text">Menopause</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="skinChange">
                            <i class="fa-solid fa-spray-can-sparkles icon" title="Skin and Hairs"></i>
                            <span class="text nav-text">Skin and Hairs</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class="fa-solid fa-hands-holding-child icon" title="Anganwadi"></i>
                            <span class="text nav-text">Anganwadi</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="hygiene">
                            <i class="fa-solid fa-hands-bubbles icon" title="Hygiene"></i>
                            <span class="text nav-text">Hygiene</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class="fa-solid fa-person-walking icon" title="Diet and Exercise"></i>
                            <span class="text nav-text">Diet and Exercise</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class="fa-regular fa-face-tired icon" title="Emotions"></i>
                            <span class="text nav-text">Emotions</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="doDont">
                            <i class="fa-solid fa-clipboard-list icon" title="Do's and Do not's"></i>
                            <span class="text nav-text">Do's and Do not's</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class="fa-solid fa-droplet icon" title="Bleeding"></i>
                            <span class="text nav-text">Bleeding</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="whylate">
                            <i class="fa-solid fa-clock icon" title="Why Late?"></i>
                            <span class="text nav-text">Why Late?</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="quiz">
                            <i class="fa-solid fa-question icon" title="Awareness Quiz"></i>
                            <span class="text nav-text">Awareness Quiz</span>
                        </a>
                    </li>

                </ul>
            </div>

            
        </div>

    </nav>


    <section class="home">
        <section class="post-heater">
            <div class="header-content post-container">

                <!-- <a href="blog.html"><button id="post" class="normal">Back to Blog</button></a> -->

                <h1 class="header-title">ABSENCE OF PERIODS</h1>
                <!-- <img src="Late-Period.jpg" alt="" class="header-img"> -->

            </div>
        </section>


        <section class="post-content post-container">

            <!-- <h2 class="sub-heading">Factors that Cause Uneven Periods</h2> -->
            <p class="post-text">
                It's crucial to remember that in order to determine the underlying cause and receive the proper
                therapy if you are having a prolonged absence of periods, you should speak with a medical
                practitioner. But, the following natural therapies could assist you in controlling your menstrual
                cycle:
            </p>

            <!-- <h2 class="sub-heading">2.Low Body Weight </h2> -->

            <h2 class="sub-heading">1. Exercise frequently</h2>

            <p class="post-text">
                Exercise can enhance blood circulation and hormone regulation, which may aid your menstrual cycle.
            </p>

            <h2 class="sub-heading">2. Manage stress</h2>

            <p class="post-text">
                Take steps to reduce stress because it can mess with your hormone levels and lead to irregular
                periods. Consider stress-relieving exercises, yoga, meditation, or deep breathing.
            </p>

            <h2 class="sub-heading">3. Maintain a healthy weight</h2>

            <p class="post-text">
                Keep a healthy weight because it can interrupt your menstrual cycle to be overweight or underweight.
                By eating a balanced diet and exercising frequently, you can keep your weight at a healthy level.
            </p>

            <h2 class="sub-heading">4. Ginger</h2>

            <p class="post-text">
                Traditionally, ginger has been used to control menstrual periods. You can take ginger supplements,
                drink ginger tea, or add ginger to cuisine.
            </p>

            <h2 class="sub-heading">5. Cinnamon</h2>

            <p class="post-text">
                Studies have shown that cinnamon improves insulin sensitivity, which in turn regulates menstrual
                periods. You can have cinnamon tea or add it to your diet.
            </p>

            <h2 class="sub-heading">6. Fennel</h2>

            <p class="post-text">
                Fennel seeds have been used for regulating menstrual cycles in the past. Fennel seeds can be
                chewed or used to make tea.

            </p>

            <h2 class="sub-heading">7. Papaya</h2>

            <p class="post-text">
                Papaya is thought to increase the production of oestrogen and assist control menstrual periods.
                Papaya juice or ripe papaya can be consumed.
            </p>



            <p class="post-text">
                Keep in mind that home cures should not take the place of medical care. See a doctor if you are
                suffering a prolonged period of not having your period or if you have any other concerns.
            </p>




        </section>

        <!-- <div class="text-box">
        
       
        
    

    </div> -->
        <div class="navigation_btn">
            <a href="Irregularperiods" class="prev_btn">Previous</a>
            <a href="premenstrualsyndrome" class="next_btn">Next</a>
        </div>
    <!-- Footer -->
  <!-- footer section starts -->
  {% include "footer.html" %}
  <!-- footer section ends -->
    </section>


    

  </section>




    <script src="{%static 'content.js'%}"></script>

</body>
</html>