{%load static%}


<!DOCTYPE html>
<html lang="en">
    {% include "header.html" %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!----======== CSS ======== -->
    <link rel="stylesheet" href="{%static 'content.css'%}">

    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <script src="https://kit.fontawesome.com/ace75cb71d.js" crossorigin="anonymous"></script>

    <title>Dashboard Sidebar Menu</title>
</head>

<body>
    <!-- nav -->
   
    <!-- header end -->

    <!-- home section start -->
    <section class="home-section">

        <nav class="sidebar close">
            <header>
                <i class='bx bx-chevron-right toggle'></i>
            </header>
    
            <div class="menu-bar">
                <div class="menu">
    
    
                    <ul class="menu-links">
                        <li class="nav-link">
                            <a href="homeRemedies">
                                <i class="fa-solid fa-mortar-pestle icon" title="Home Remedies"></i>
                                <span class="text nav-text">Home Remedies
                                </span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="menopause">
                                <i class="fa-solid fa-venus icon" title="Menopause"></i>
                                <span class="text nav-text">Menopause</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="skinChange">
                                <i class="fa-solid fa-spray-can-sparkles icon" title="Skin and Hairs"></i>
                                <span class="text nav-text">Skin and Hairs</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="#">
                                <i class="fa-solid fa-hands-holding-child icon" title="Anganwadi"></i>
                                <span class="text nav-text">Anganwadi</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="hygiene">
                                <i class="fa-solid fa-hands-bubbles icon" title="Hygiene"></i>
                                <span class="text nav-text">Hygiene</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="#">
                                <i class="fa-solid fa-person-walking icon" title="Diet and Exercise"></i>
                                <span class="text nav-text">Diet and Exercise</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="#">
                                <i class="fa-regular fa-face-tired icon" title="Emotions"></i>
                                <span class="text nav-text">Emotions</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="doDont">
                                <i class="fa-solid fa-clipboard-list icon" title="Do's and Do not's"></i>
                                <span class="text nav-text">Do's and Do not's</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="#">
                                <i class="fa-solid fa-droplet icon" title="Bleeding"></i>
                                <span class="text nav-text">Bleeding</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="whylate">
                                <i class="fa-solid fa-clock icon" title="Why Late?"></i>
                                <span class="text nav-text">Why Late?</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="quiz">
                                <i class="fa-solid fa-question icon" title="Awareness Quiz"></i>
                                <span class="text nav-text">Awareness Quiz</span>
                            </a>
                        </li>
    
                    </ul>
                </div>
    
                
            </div>
    
        </nav>







        <section class="home">
            <section class="post-heater">
                <div class="header-content post-container">

                    <!-- <a href="blog.html"><button id="post" class="normal">Back to Blog</button></a> -->

                    <h1 class="header-title">Cure and Remedies for acne breakouts</h1>
                    <!-- <img src="css/sumi123.jpg" alt="" class="header-img"> -->

                </div>
            </section>


            <section class="post-content post-container">



                <p class="post-text">
                    <b>Here are some remedies and treatments for acne breakouts:</b>

                </p>
                <p class="post-text">
                    <b>1. Over-the-counter (OTC) topical treatments : </b> OTC acne products, such as benzoyl peroxide and salicylic acid, can be effective in treating mild to moderate acne. These products work by unclogging pores and reducing inflammation.

                </p>

                <p class="post-text">
                    <b>2. Prescription medications : </b> If OTC treatments are not effective, a dermatologist may prescribe topical or oral medications, such as antibiotics, retinoids, or hormonal treatments, to help clear acne.
                </p>

                <p class="post-text">
                    <b>3. Light therapy : </b> Light therapy, also known as phototherapy, uses intense pulsed light to kill bacteria that contribute to acne and reduce inflammation.
                </p>


                <p class="post-text">
                    <b>4. Chemical peels : </b> Chemical peels use a solution to remove the outer layer of skin, reducing the appearance of acne scars and promoting skin renewal.
                </p>

                <p class="post-text">
                    <b>5. Lifestyle changes : </b> Making changes to your diet and skincare routine can also help manage acne breakouts. This may include avoiding foods that trigger breakouts, using non-comedogenic skincare products, and avoiding picking or squeezing pimples, which can worsen acne.


                </p>
                
                <p class="post-text">
                    It's essential to remember that what works for one person may not work for another, so it's important to try a variety of treatments to find what works best for you. If you are struggling with persistent acne, speak with a dermatologist for personalized advice and treatment options.
                </p>
            </section>

            <!-- <div class="text-box">
        
       
        
    

    </div> -->
            <div class="navigation_btn">
                <a href="whyacne" class="prev_btn">Previous</a>
                <a href="adaptgoodskin" class="next_btn">Next</a>
            </div>
        <!-- footer section starts -->
        {% include "footer.html" %}
        <!-- footer section ends -->
        </section>





    </section>








<script src="{%static 'content.css'%}"></script>

</body>

</html>