
{% load static %}

<!DOCTYPE html>
<html lang="en">
    {% include "header.html" %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!----======== CSS ======== -->
    <link rel="stylesheet" href="{%static 'content.css'%}">

    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <script src="https://kit.fontawesome.com/ace75cb71d.js" crossorigin="anonymous"></script>

    <title>Dashboard Sidebar Menu</title>
</head>

<body>
    <!-- nav -->
   
    <!-- header end -->

    <!-- home section start -->
    <section class="home-section">

        <nav class="sidebar close">
            <header>
                <i class='bx bx-chevron-right toggle'></i>
            </header>
    
            <div class="menu-bar">
                <div class="menu">
    
    
                    <ul class="menu-links">
                        <li class="nav-link">
                            <a href="homeRemedies">
                                <i class="fa-solid fa-mortar-pestle icon" title="Home Remedies"></i>
                                <span class="text nav-text">Home Remedies
                                </span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="menopause">
                                <i class="fa-solid fa-venus icon" title="Menopause"></i>
                                <span class="text nav-text">Menopause</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="skinChange">
                                <i class="fa-solid fa-spray-can-sparkles icon" title="Skin and Hairs"></i>
                                <span class="text nav-text">Skin and Hairs</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="#">
                                <i class="fa-solid fa-hands-holding-child icon" title="Anganwadi"></i>
                                <span class="text nav-text">Anganwadi</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="hygiene">
                                <i class="fa-solid fa-hands-bubbles icon" title="Hygiene"></i>
                                <span class="text nav-text">Hygiene</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="#">
                                <i class="fa-solid fa-person-walking icon" title="Diet and Exercise"></i>
                                <span class="text nav-text">Diet and Exercise</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="#">
                                <i class="fa-regular fa-face-tired icon" title="Emotions"></i>
                                <span class="text nav-text">Emotions</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="doDont">
                                <i class="fa-solid fa-clipboard-list icon" title="Do's and Do not's"></i>
                                <span class="text nav-text">Do's and Do not's</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="#">
                                <i class="fa-solid fa-droplet icon" title="Bleeding"></i>
                                <span class="text nav-text">Bleeding</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="whylate">
                                <i class="fa-solid fa-clock icon" title="Why Late?"></i>
                                <span class="text nav-text">Why Late?</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="quiz">
                                <i class="fa-solid fa-question icon" title="Awareness Quiz"></i>
                                <span class="text nav-text">Awareness Quiz</span>
                            </a>
                        </li>
    
                    </ul>
                </div>
    
                
            </div>
    
        </nav>







        <section class="home">
            <section class="post-heater">
                <div class="header-content post-container">

                    <!-- <a href="blog.html"><button id="post" class="normal">Back to Blog</button></a> -->

                    <h1 class="header-title">Lifestyle changes to adapt to good skin </h1>
                    <!-- <img src="css/sumi123.jpg" alt="" class="header-img"> -->

                </div>
            </section>


            <section class="post-content post-container">



                <p class="post-text">
                    <b>Here are some lifestyle changes that can help improve the health and appearance of your skin : </b>

                </p>
                <p class="post-text">
                    <b>1. Eat a healthy diet : </b> Eating a balanced diet that includes plenty of fruits and vegetables, lean proteins, and healthy fats can help improve the overall health of your skin.
                </p>

                <p class="post-text">
                    <b>2. Stay hydrated : </b> Drinking plenty of water is essential for keeping your skin hydrated and healthy. Aim for at least 8 glasses of water per day.
                </p>

                <p class="post-text">
                    <b>3. Get enough sleep : </b> Sleep is essential for overall health, including skin health. Aim for at least 7-9 hours of sleep per night to help keep your skin looking its best.
                </p>


                <p class="post-text">
                    <b>4. Limit sun exposure : </b> Excessive sun exposure can damage your skin and increase your risk of skin cancer. Wear a broad-spectrum sunscreen with an SPF of at least 30 and consider wearing protective clothing and seeking shade when the sun is strongest.
                </p>

                <p class="post-text">
                    <b>5. Manage stress : </b> Stress can take a toll on your skin, so it's important to manage stress through activities like exercise, meditation, or spending time with friends and family.
                </p>
                <p class="post-text">
                    <b>6. Avoid smoking : </b> Smoking can damage your skin and increase your risk of developing wrinkles and other skin problems. If you smoke, quitting is the best thing you can do for your skin.
                </p>
                <p class="post-text">
                    <b>7. Use gentle skincare products : </b>  Choose skincare products that are gentle and non-comedogenic to avoid irritating your skin. Consider using products that are formulated for your skin type, such as oily, dry, or sensitive skin.
                </p>
                
                <p class="post-text">
                    By making these lifestyle changes, you can help improve the health and appearance of your skin and keep it looking its best. If you are concerned about the health of your skin, it may be helpful to speak with a dermatologist for personalized advice and treatment options.
                </p>
            </section>

            <!-- <div class="text-box">
        
       
        
    

    </div> -->
            <div class="navigation_btn">
                <a href="acnebreakout" class="prev_btn">Previous</a>
                <a href="skinproblems" class="next_btn">Next</a>
            </div>
        <!-- footer section starts -->
        {% include "footer.html" %}
        <!-- footer section ends -->
        </section>






    </section>




    <script src="{%static 'content.js' %}"></script>

</body>

</html>

</section>




<script src="script.js"></script>

</body>

</html>s