
{% load static %}


<!DOCTYPE html>
<html lang="en">
    {% include "header.html" %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!----======== CSS ======== -->
    <link rel="stylesheet" href="{%static 'content.css'%}">

    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <script src="https://kit.fontawesome.com/ace75cb71d.js" crossorigin="anonymous"></script>

    <title>Dashboard Sidebar Menu</title>
</head>

<body>
    <!-- nav -->
	
	<!-- header end -->



<!-- home section start -->
<section class="home-section" >
    
    <nav class="sidebar close">
        <header>
            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">


                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="homeRemedies">
                            <i class="fa-solid fa-mortar-pestle icon" title="Home Remedies"></i>
                            <span class="text nav-text">Home Remedies
                            </span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="menopause">
                            <i class="fa-solid fa-venus icon" title="Menopause"></i>
                            <span class="text nav-text">Menopause</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="skinChange">
                            <i class="fa-solid fa-spray-can-sparkles icon" title="Skin and Hairs"></i>
                            <span class="text nav-text">Skin and Hairs</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class="fa-solid fa-hands-holding-child icon" title="Anganwadi"></i>
                            <span class="text nav-text">Anganwadi</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="hygiene">
                            <i class="fa-solid fa-hands-bubbles icon" title="Hygiene"></i>
                            <span class="text nav-text">Hygiene</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class="fa-solid fa-person-walking icon" title="Diet and Exercise"></i>
                            <span class="text nav-text">Diet and Exercise</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class="fa-regular fa-face-tired icon" title="Emotions"></i>
                            <span class="text nav-text">Emotions</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="doDont">
                            <i class="fa-solid fa-clipboard-list icon" title="Do's and Do not's"></i>
                            <span class="text nav-text">Do's and Do not's</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class="fa-solid fa-droplet icon" title="Bleeding"></i>
                            <span class="text nav-text">Bleeding</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="whylate">
                            <i class="fa-solid fa-clock icon" title="Why Late?"></i>
                            <span class="text nav-text">Why Late?</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="quiz">
                            <i class="fa-solid fa-question icon" title="Awareness Quiz"></i>
                            <span class="text nav-text">Awareness Quiz</span>
                        </a>
                    </li>

                </ul>
            </div>

            
        </div>

    </nav>

    <section class="home">
        <section class="post-heater">
            <div class="header-content post-container">

                <!-- <a href="blog"><button id="post" class="normal">Back to Blog</button></a> -->

                <h1 class="header-title">DO'S & DON'TS</h1>
                <!-- <img src="Late-Period.jpg" alt="" class="header-img"> -->

            </div>
        </section>


        <section class="post-content post-container">


            <h2 class="sub-heading">I. Do's :</h2>

            <p class="post-text">
                <b>1. Prioritise self-care: </b> Engage in physical activity, practice relaxation techniques, and engage in activities that bring joy and comfort.

            </p>

            <p class="post-text">
                <b>2. Eat a healthy and balanced diet: </b> Include foods rich in iron, calcium, and vitamins to support physical health during the menstrual cycle.
            </p>


            <p class="post-text">
                <b>3. Stay hydrated: </b> Drink plenty of water and other fluids to support overall well-being and reduce symptoms such as cramps and bloating.
            </p>


            <p class="post-text">
                <b>4. Try some home remedies: </b> Home remedies can be effective in reducing menstrual pain.
            </p>


            <p class="post-text">
                <b>5. Use hot or cold therapy: </b> Applying a heating pad or cold compress to the abdomen or back can help to soothe menstrual cramps.

            </p>

            <p class="post-text">
                <b>6. Get enough sleep: </b> Getting enough rest can help to manage physical and emotional symptoms during periods.
            </p>

            <p class="post-text">
                <b>7. Wear comfortable clothing: </b> Loose-fitting, comfortable clothing can help to reduce discomfort and stress during periods.
            </p>
            <p class="post-text">
                <b>8. Use menstrual products that are comfortable and provide adequate protection: </b> Experiment with different types of menstrual products to find the ones that work best for your body.
            </p>
            <p class="post-text">
                <b>9. Practice good hygiene: </b> Regularly changing menstrual products and showering or bathing can help to maintain good hygiene during periods.
            </p>
            <p class="post-text">
                <b>10. Seek support: </b> Reach out to friends, family, or a mental health professional if needed.
            </p>
            <p class="post-text">
                <b>11. Take it easy: </b> Don't overexert yourself, and take time to rest and relax when needed.
            </p>
            <p class="post-text">
                <b>12. Observe religious restrictions and practices: </b> Depending on religious beliefs, there may be restrictions on activities or food consumption during menstrual periods. It is important to be mindful of these practices and observe them in accordance with personal beliefs.
            </p>

            <h2 class="sub-heading">II. Don'ts :</h2>

            <p class="post-text">
                <b>1. Avoid skipping meals: </b> Skipping meals can contribute to physical and emotional discomfort during periods.

            </p>

            <p class="post-text">
                <b>2. Avoid excessive caffeine and alcohol: </b> These substances can exacerbate symptoms such as headaches and mood swings.
            </p>


            <p class="post-text">
                <b>3. Avoid smoking: </b> Smoking can worsen symptoms such as cramps and mood swings.

            </p>


            <p class="post-text">
                <b>4. Avoid excessive physical activity: </b> Engaging in too much physical activity can increase discomfort and stress.

            </p>


            <p class="post-text">
                <b>5. Avoid self-criticism: </b> Remember that emotional changes during periods are a normal part of the menstrual cycle and should not be stigmatized.

            </p>

            <p class="post-text">
                <b>6. Avoid using scented menstrual products: </b> Scented menstrual products can cause irritation and increase the risk of infection.
            </p>

            <p class="post-text">
                <b>7. Don't wear tight clothing: </b>Tight clothing can contribute to discomfort and stress during periods.
            </p>
            <p class="post-text">
                <b>8. Avoid using non-sterile menstrual products: </b> Using non-sterile menstrual products can increase the risk of infection.
            </p>
            <p class="post-text">
                <b>9. Avoid swimming: </b> Swimming during periods can increase the risk of infection and may be uncomfortable.

            </p>
            <p class="post-text">
                <b>10. Don't douche: </b> Douching can increase the risk of infection and disrupt the natural balance of vaginal flora.

            </p>
            <p class="post-text">
                <b>11. Avoid stress: </b> Try to reduce stress through relaxation techniques or other stress-reducing activities.
            </p>
            <p class="post-text">
                <b>12. Avoid violating religious restrictions: </b> Depending on personal beliefs, there may be restrictions on activities or food consumption during menstrual periods. It is important to observe these practices in accordance with personal beliefs.

            </p>
            <p class="post-text">
                <b>Remember that every person's experience with menstrual periods is unique, and it is important to prioritize self-care and seek support as needed.

            </p>



        </section>

        <!-- <div class="text-box">
        
       
        
    

    </div> -->
        <div class="navigation_btn">
            <a href="hygiene" class="prev_btn">Previous</a>
            <a href="whylate" class="next_btn">Next</a>
        </div>
   <!-- footer section starts -->
   {% include "footer.html" %}
   <!-- footer section ends -->
    </section>

  
    

  </section>









    <script src="{%static 'content.js' %}"></script>

</body>

</html>