<!DOCTYPE html>
{% load static %}

<html lang="en">
   
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menstruguide</title>
  <link rel="stylesheet" href="{%static 'footer.css'%}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <footer>
        <div class="footer_container">
          <div class="sec footer_aboutus">
            <h2>Who are We</h2>
            <!-- <img src="Frame 15.png" alt=""> -->
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta voluptatem officiis ullam praesentium
              minima tenetur nesciunt quidem ab facilis quo!</p>
            <ul class="footer_sci">
              <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa-solid fa-envelope"></i></a></li>
            </ul>
          </div>
          <div class="sec footer_quicklinks">
            <h2>Quick Links</h2>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="MenstrualAwareness">Menstrual Awarness</a></li>
              <li><a href="#">Track</a></li>
              <li><a href="login">Login</a></li>
              <li><a href="discussionForum">Discuss</a></li>
            </ul>
          </div>
    
          <div class="sec footer_quicklinks">
            <h2>Track</h2>
            <ul>
              <li><a href="pcosPredict">PCOS Prediction</a></li>
              <li><a href="nextPeriod">Period Tracker</a></li>
              <li><a href="ovulation">Ovulation Tracker</a></li>
              <li><a href="pregnancyTracker">Pregnancy Tracker</a></li>
            </ul>
          </div>
          <div class="footer_sec_contact">
            <h2>Contact Us</h2>
            <ul class="footer_contact_info">
              <li>
                <span><i class="fa-solid fa-location-dot"></i></span>
                <span> P.O. Tilwara Ghat, Near Bargi Hills, <br>
                  Jabalpur, Madhya Pradesh 482003</span>
              </li>
    
              <li>
                <span><i class="fa-solid fa-phone"></i></span>
                <p><a href="tel:+12345678900">098935 56449</a>
                </p>
              </li>
    
              <li>
                <span><i class="fa-solid fa-envelope"></i></span>
                <p><a href="mailto:jeevanmaitree@gmail.com">menstruguide@gmail.com</a></p>
              </li>
            </ul>
          </div>
    
        </div>
      </footer>
      <div class="footer_copyrightText">
        <p>Copyright © 2023-MENSTRUGUIDE . All Rights Reserved.</p>
      </div>
</body>
</html>