
<!DOCTYPE html>
{% load static %}
<html lang="en">
  

{% include "header.html" %}

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menstruguide</title>
  <link rel="stylesheet" href="{%static 'home.css'%}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

  <!-- header starts -->
  
  <!-- header end -->


  <!---home section starts-->
  
  {% for x in re %}
  <tr>
    
    <td>{{ x.id}}</td>
    <td>{{ x.Lname }}</td>
  </tr>
  {% endfor %}  
 

  <section class="home" id="home">

    <div class="content">
      <h3>Let's normalize voicing out about the menstrual health</h3>
      <p>Let us come together to know more about menstural health.</p>
      <a href="/aboutUs" class="btn"> Guide Yourself <span class="fa-solid fa-chevron-right"></i> </span> </a>
    </div>

    <div class="image">
      <img src="{%static 'homi.jpeg'%}" alt="">
    </div>

  </section>

  <!---home section ends-->

  <!-- our services starts -->
  <section id="services" class="services">
    <h1 class="heading">Our Services</h1>
    <p class="underline"></p>

    <div class="box">

      <div class="card">
        <div class="imgBx">
          <img src="{%static 'specialist.png'%}" alt="blood availability search">
        </div>
        <div class="details">
          <h2>Experienced Specialists</h2>
          <!-- <p>We provide you the best specialist within your city</p> -->
        </div>
      </div>

      <div class="card">
        <div class="imgBx">
          <img src="{%static 'predict.webp'%}" alt="blood availability search">
        </div>
        <div class="details">
          <h2>Accurate Prediction</h2>
          <!-- <p>Tracking your periods, ovulation, pregnancy, PCOS with Menstruguide will help you calculate and predict -->
          <!-- symptoms ahead of time, getting you prepared for the days ahead.</p> -->
        </div>
      </div>

      <div class="card">
        <div class="imgBx">
          <img src="{%static 'fastdelivery.gif'%}" alt="blood availability search">
        </div>
        <div class="details">
          <h2>Fast Delivery</h2>
          <!-- <p>We'll provide you fast and efficient delivery to intended destination within a short period of time</p> -->
        </div>
      </div>

      <div class="card">
        <div class="imgBx">
          <img src="{%static 'privacy.webp'%}" alt="blood availability search" style="padding-top: 25px">
        </div>
        <div class="details">
          <h2>Maintain Your Privacy</h2>
          <!-- <p>You trust us with your personal information, so it's our responsibility to never share your health data with others.</p> -->
        </div>
      </div>

    </div>
  </section>
  <!-- our services ends -->

  <!-- main features starts-->
  <section id="features" class="features">
    <h2>Our Features</h2>
    <p class="underline"></p>

    <!-- 1 -->
    <div class="homepage1">
      <div class="content">
        <h2 class="heading">PCOS Prediction</h2>
        <p class="matter">If you want to know more about your body and how your cycle can affect everything from
          your mood to your energy levels, tracking your periods and ovulation is a great place to start.</p>
        <a href="pcosHome" title="Get Home Remedies">Predict PCOS <i class="fa-solid fa-arrow-right"></i> </a>
      </div>
      <div class="image">
        <img src="{%static 'pcospred.png'%}" alt="" class="homeimg">
      </div>
    </div>

    <!-- 2 -->
    <div class="homepage2">
      <div class="image">
        <img src="{%static 'trackcycle.png'%}" alt="" class="homeimg" style="height: 650px; padding-right: 3rem;">
      </div>
      <div class="content">
        <h2 class="heading">Period Tracker</h2>
        <p class="matter">If you want to know more about your body and how your cycle can affect everything from
          your mood to your energy levels, tracking your periods and ovulation is a great place to start.</p>
        <div class="anchor">
          <a href="nextPeriod" title="Get Home Remedies"> <i class="fa-solid fa-arrow-left"></i> Track your cycle
          </a>
        </div>
      </div>
    </div>

    <!-- 3 -->
    <div class="homepage1">
      <div class="content">
        <h2 class="heading">Home Remedies</h2>
        <p class="matter">If you want to know more about your body and how your cycle can affect everything from
          your mood to your energy levels, tracking your periods and ovulation is a great place to start.</p>
        <a href="homeRemedies" title="Get Home Remedies">Get Home Remedies <i class="fa-solid fa-arrow-right"></i> </a>
      </div>
      <div class="image">
        <img src="{%static 'home remidy.png'%}" alt="" class="homeimg">
      </div>
    </div>

    <!-- 4 -->
    <div class="homepage2">
      <div class="image">
        <img src="{%static 'discussionforum.png'%}" alt="" class="homeimg">
      </div>
      <div class="content">
        <h2 class="heading">Discussion Forum</h2>
        <p class="matter">If you want to know more about your body and how your cycle can affect everything from
          your mood to your energy levels, tracking your periods and ovulation is a great place to start.</p>
        <div class="anchor">
          <a href="discussionForum" title="Go to discuss section"> <i class="fa-solid fa-arrow-left"></i> Discussion Section
          </a>
        </div>
      </div>
    </div>

    <!-- 5 -->
    <div class="homepage1">
      <div class="content">
        <h2 class="heading">Ovultion Tracker</h2>
        <p class="matter">If you want to know more about your body and how your cycle can affect everything from
          your mood to your energy levels, tracking your periods and ovulation is a great place to start.</p>
        <a href="ovulation" title="Get Home Remedies">Get your ovulation track <i class="fa-solid fa-arrow-right"></i> </a>
      </div>
      <div class="image">
        <img src="{%static 'ovulation.jpg'%}" alt="" class="homeimg">
      </div>
    </div>

    <!-- 6 -->
    <div class="homepage2">
      <div class="image">
        <img src="{%static 'p-removebg-preview.png'%}" alt="" class="homeimg">
      </div>
      <div class="content">
        <h2 class="heading">Products</h2>
        <p class="matter">If you want to know more about your body and how your cycle can affect everything from
          your mood to your energy levels, tracking your periods and ovulation is a great place to start.</p>
        <div class="anchor">
          <a href="#" title="Buy the products"> <i class="fa-solid fa-arrow-left"></i> Buy Productsd
          </a>
        </div>
      </div>
    </div>



  </section>
  <!-- main features ends -->

  <!-- counter section starts  -->
  <section class="counter" id="counter">
    <h2>We Have</h2>
    <p class="underline"></p>
    <div class="hero">
      <div class="counter_row">
        <div class="counter_col">
          <div class="counter-box">
            <i class="fa fa-solid fa-hospital"></i>
            <h2 class="counterh2" data-number="215">0</h2>
            <h4>Visitors</h4>
          </div>
        </div>
        <div class="counter_col">
          <div class="counter-box">
            <i class="fa fa-solid fa-face-smile"></i>
            <h2 class="counterh2" data-number="101">0</h2>
            <h4>Suggested Doctors</h4>
          </div>
        </div>
        <div class="counter_col">
          <div class="counter-box">
            <i class="fa fa-solid fa-bed-pulse"></i>
            <h2 class="counterh2" data-number="150">0</h2>
            <h4>Accurate Prediction</h4>
          </div>
        </div>
        <div class="counter_col">
          <div class="counter-box">
            <i class="fa fa-solid fa-truck-medical"></i>
            <h2 class="counterh2" data-number="176">0</h2>
            <h4>Articles</h4>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- counter section ends -->

  <!---FAQ section starts-->
  <section class="faq">
    <div class="faq_container">
      <h2 class="heading">Frequently Asked Question</h2>
      <p class="underline"></p>

      <img src="{%static 'faq.png'%}" alt="Frequently Asked Question">

      <details>
        <summary>How can I keep track of data pertaining to my health and well-being (such as my periods and symptoms)?
        </summary>
        <div>
          <em>You can add, edit, or delete your periods, symptoms, and events by clicking the '+' icon, with the
            exception of events that are imported automatically from third-party trackers. Also you can delete
            historical data at any time by reaching out to our customer support team at support@menstruguide.health. We
            firmly
            believe that our users deserve complete control over their data, and we are here to support you every step
            of the way.</em>
        </div>
      </details>

      <details>
        <summary>Can I change my lifestyle settings and information about my past pregnancies?</summary>
        <div>
          <em>Yes, you can edit your lifestyle settings and your past pregnancies. You can delete your past pregnancies
            as well.</em>
        </div>
      </details>

      <details>
        <summary>How can I change data I used while signing up (like email address or a password)?</summary>
        <div>
          <em>You can edit your email address if it's not verified and change your password.
            <br>
            You can change your password by signing out of your registered account and tapping the “Forgot your
            password” button on the login screen. You can also edit your email address</em>
        </div>
      </details>

      <details>
        <summary>Can I withdraw my consent from processing my data?</summary>
        <div>
          <em>TWhere we process your personal data with your consent, you can withdraw your consent at any time if you
            want us to stop.</em>
        </div>
      </details>

    </div>
  </section>
  <!---FAQ section ends-->

  <!-- footer section starts -->
  {% include "footer.html" %}
  <!-- footer section ends -->



  <script src="{%static 'home.js'%}"></script>
</body>

</html>