<!DOCTYPE html>
<html>
    {% load static %}
    {% include "header.html" %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Home Remedies</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{%static 'HomeRemedies.css'%}">

  <!-- fontawesome icon -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" /> -->
</head>

<body>


  <!-- nav -->
 

  <!-- header end -->


  <section class="menu1" id="menu">
    <div class="menu-container">
      <div class="menu-head">
        <h2>Home Remedies</h2>
        <p>It's important to note that these remedies are not guaranteed to work for everyone and it's always best to
          consult with a doctor before trying any new remedies.</p>
      </div>

      <!-- <div class = "menu-btns">
          <button type = "button" class = "menu-btn active-btn" id = "featured">featured</button>
          <button type = "button" class = "menu-btn" id = "today-special">today's special</button>
          <button type = "button" class = "menu-btn" id = "new-arrival">new arrivals</button>
        </div> -->

      <div class="food-items">
        <!-- item -->
        
        <div class="food-item featured">
          <div class="food-img">
            <img src="{%static 'menspain.jpg'%}" alt="food image">
          </div>
          <div class="food-content" style="background-color: #fff;">
            <a href="menstrualPainHR" style="text-decoration: none">
            <h2 class="food-name">Menstrual Pain</h2>
            </a>
            <div class="line"></div>
            <h3 class="food-price">Lower abdominal pain just before or during menstruation.</h3>
            <!-- <ul class = "rating">
                <li><i class = "fas fa-star"></i></li>
                <li><i class = "fas fa-star"></i></li>
                <li><i class = "fas fa-star"></i></li>
                <li><i class = "fas fa-star"></i></li>
                <li><i class = "far fa-star"></i></li>
              </ul> -->
            <!-- <p class = "category">Categories: <span>Featured</span></p> -->
          </div>
        </div>
      
        <!-- end of item -->

        <!-- item -->
        
        <div class="food-item featured">
          <div class="food-img">
            <img src="{%static 'heavyperiods.jpg'%}" alt="food image">
          </div>
          <div class="food-content">
            <h2 class="food-name">Heavy Flow</h2>
            <div class="line"></div>
            <h3 class="food-price">Lower abdominal pain just before or during menstruation.</h3>
            <!-- <ul class = "rating">
                <li><i class = "fas fa-star"></i></li>
                <li><i class = "fas fa-star"></i></li>
                <li><i class = "fas fa-star"></i></li>
                <li><i class = "fas fa-star"></i></li>
                <li><i class = "far fa-star"></i></li>
              </ul> -->
            <!-- <p class = "category">Categories: <span>Featured</span></p> -->
          </div>
        </div>
        <!-- end of item -->



        <!-- item -->
        
        <div class="food-item featured">
          <div class="food-img">
            <img src="{%static 'irregular.jpg'%}" alt="food image">
          </div>
          <div class="food-content">
            <a href="R1_1" style="text-decoration: none">
            <h2 class="food-name">Irregular Periods</h2>
            </a>
            <div class="line"></div>
            <h3 class="food-price">Body stops ovulating, and periods temporarily stop.</h3>
            <!-- <ul class = "rating">
                <li><i class = "fas fa-star"></i></li>
                <li><i class = "fas fa-star"></i></li>
                <li><i class = "fas fa-star"></i></li>
                <li><i class = "fas fa-star"></i></li>
                <li><i class = "far fa-star"></i></li>
              </ul> -->
            <!-- <p class = "category">Categories: <span>Featured</span></p> -->
          </div>
        </div>
      
        <!-- end of item -->



        <!-- item -->
        
        <div class="food-item featured">
          <div class="food-img">
            <img src="{%static 'absence.jpg'%}" alt="food image">
          </div>
          <div class="food-content">
            <a href="R2" style="text-decoration: none">
            <h2 class="food-name">Absence of Periods</h2>
            </a>
            <div class="line"></div>
            <h3 class="food-price">Missing one or more period.</h3>
            <!-- <ul class = "rating">
                <li><i class = "fas fa-star"></i></li>
                <li><i class = "fas fa-star"></i></li>
                <li><i class = "fas fa-star"></i></li>
                <li><i class = "fas fa-star"></i></li>
                <li><i class = "far fa-star"></i></li>
              </ul> -->
            <!-- <p class = "category">Categories: <span>Featured</span></p> -->
          </div>
        </div>

        <!-- end of item -->

        <!-- item -->
        
        <div class="food-item featured">
          <div class="food-img">
            <img src="{%static 'lightperiods.jpg'%}" alt="food image">
          </div>
          <div class="food-content">
            <a href="R4" style="text-decoration: none">
            <h2 class="food-name">Light Periods</h2>
            </a>
            <div class="line"></div>
            <h3 class="food-price">Less bleeding or fewer days of bleeding.</h3>
            <!-- <ul class = "rating">
                <li><i class = "fas fa-star"></i></li>
                <li><i class = "fas fa-star"></i></li>
                <li><i class = "fas fa-star"></i></li>
                <li><i class = "fas fa-star"></i></li>
                <li><i class = "far fa-star"></i></li>
              </ul> -->
            <!-- <p class = "category">Categories: <span>Featured</span></p> -->
          </div>
        </div>
      
        <!-- end of item -->

        <!-- item -->
        
        <div class="food-item featured">
          <div class="food-img">
            <img src="{%static 'pms-woman-suffering-premenstrual-syndrome-setpms.jpg'%}" alt="food image">
          </div>
          <div class="food-content">
            <a href="R3" style="text-decoration: none">
            <h2 class="food-name">Pre-menstrual Syndrome</h2>
            </a>
            <div class="line"></div>
            <h3 class="food-price">Changes in mood and emotions, physical health, and behavior.</h3>
            <!-- <ul class = "rating">
                <li><i class = "fas fa-star"></i></li>
                <li><i class = "fas fa-star"></i></li>
                <li><i class = "fas fa-star"></i></li>
                <li><i class = "fas fa-star"></i></li>
                <li><i class = "far fa-star"></i></li>
              </ul> -->
            <!-- <p class = "category">Categories: <span>Featured</span></p> -->
          </div>
        </div>

        <!-- end of item -->

        <!-- item -->
        
        <div class="food-item featured">
          <div class="food-img">
            <img src="{%static 'vaginal.jpg'%}" alt="food image">
          </div>
          <div class="food-content">
            <a href="R6" style="text-decoration: none">
            <h2 class="food-name">Vaginal Infection</h2>
            </a>
            <div class="line"></div>
            <h3 class="food-price">Pain and discomfort in vaginal area.</h3>
            <!-- <ul class = "rating">
                <li><i class = "fas fa-star"></i></li>
                <li><i class = "fas fa-star"></i></li>
                <li><i class = "fas fa-star"></i></li>
                <li><i class = "fas fa-star"></i></li>
                <li><i class = "far fa-star"></i></li>
              </ul> -->
            <!-- <p class = "category">Categories: <span>Featured</span></p> -->
          </div>
        </div>

        <!-- end of item -->

        <!-- item -->
        
        <div class="food-item featured">
          <div class="food-img">
            <img src="{%static 'rashes.jpg'%}" alt="food image">
          </div>
          
          <div class="food-content">
            <a href="R9" style="text-decoration: none">
            <h2 class="food-name">Rashes</h2>
            </a>
            <div class="line"></div>
            <h3 class="food-price">Redness and spots on vaginal skin.</h3>
            <!-- <ul class = "rating">
                <li><i class = "fas fa-star"></i></li>
                <li><i class = "fas fa-star"></i></li>
                <li><i class = "fas fa-star"></i></li>
                <li><i class = "fas fa-star"></i></li>
                <li><i class = "far fa-star"></i></li>
              </ul> -->
            <!-- <p class = "category">Categories: <span>Featured</span></p> -->
          </div>
        
        </div>
      
        <!-- end of item -->

        <!-- item -->
       
        <div class="food-item featured">
          <div class="food-img">
            <img src="{%static 'itching.jpg'%}" alt="food image">
          </div>
          
          <div class="food-content">
            <a href="R7" style="text-decoration: none">
            <h2 class="food-name">Vaginal Itching and discomfort</h2>
            </a>
            <div class="line"></div>
            <h3 class="food-price">Lower abdominal pain just before or during menstruation.</h3>
            <!-- <ul class = "rating">
                <li><i class = "fas fa-star"></i></li>
                <li><i class = "fas fa-star"></i></li>
                <li><i class = "fas fa-star"></i></li>
                <li><i class = "fas fa-star"></i></li>
                <li><i class = "far fa-star"></i></li>
              </ul> -->
            <!-- <p class = "category">Categories: <span>Featured</span></p> -->
          </div>
        
        </div>
      
        <!-- end of item -->

        <!-- item -->
        
        <div class="food-item featured">
          <div class="food-img">
            <img src="{%static 'anemia.jpg'%}" alt="food image">
          </div>
          
          <div class="food-content">
            <a href="R5" style="text-decoration: none">
            <h2 class="food-name">Anemia</h2>
            </a>
            <div class="line"></div>
            <h3 class="food-price">Deficiency of red blood cells.</h3>
            <!-- <ul class = "rating">
                <li><i class = "fas fa-star"></i></li>
                <li><i class = "fas fa-star"></i></li>
                <li><i class = "fas fa-star"></i></li>
                <li><i class = "fas fa-star"></i></li>
                <li><i class = "far fa-star"></i></li>
              </ul> -->
            <!-- <p class = "category">Categories: <span>Featured</span></p> -->
          </div>

        </div>
      
        <!-- end of item -->

      </div>
    </div>
  </section>


         <!-- footer section starts -->
         {% include "footer.html" %}
         <!-- footer section ends -->




  <script src="HomeRemedies.js"></script>
</body>

</html>