{% load static %}



<!DOCTYPE html>
<html lang="en">
    {% include "header.html" %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="{%static 'content.css'%}">
    
    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <script src="https://kit.fontawesome.com/ace75cb71d.js" crossorigin="anonymous"></script>
    
    <title>Dashboard Sidebar Menu</title> 
</head>
<body>
   <!-- nav -->
   
<!-- header end -->

<!-- home section start -->
<section class="home-section" >
    
    <nav class="sidebar close">
        <header>
            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">


                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="homeRemedies">
                            <i class="fa-solid fa-mortar-pestle icon" title="Home Remedies"></i>
                            <span class="text nav-text">Home Remedies
                            </span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="menopause">
                            <i class="fa-solid fa-venus icon" title="Menopause"></i>
                            <span class="text nav-text">Menopause</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="skinChange">
                            <i class="fa-solid fa-spray-can-sparkles icon" title="Skin and Hairs"></i>
                            <span class="text nav-text">Skin and Hairs</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class="fa-solid fa-hands-holding-child icon" title="Anganwadi"></i>
                            <span class="text nav-text">Anganwadi</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="hygiene">
                            <i class="fa-solid fa-hands-bubbles icon" title="Hygiene"></i>
                            <span class="text nav-text">Hygiene</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class="fa-solid fa-person-walking icon" title="Diet and Exercise"></i>
                            <span class="text nav-text">Diet and Exercise</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class="fa-regular fa-face-tired icon" title="Emotions"></i>
                            <span class="text nav-text">Emotions</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="doDont">
                            <i class="fa-solid fa-clipboard-list icon" title="Do's and Do not's"></i>
                            <span class="text nav-text">Do's and Do not's</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class="fa-solid fa-droplet icon" title="Bleeding"></i>
                            <span class="text nav-text">Bleeding</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="whylate">
                            <i class="fa-solid fa-clock icon" title="Why Late?"></i>
                            <span class="text nav-text">Why Late?</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="quiz">
                            <i class="fa-solid fa-question icon" title="Awareness Quiz"></i>
                            <span class="text nav-text">Awareness Quiz</span>
                        </a>
                    </li>

                </ul>
            </div>

            
        </div>

    </nav>


    <section class="home">
        <section class="post-heater">
            <div class="header-content post-container">
        
                <!-- <a href="blog"><button id="post" class="normal">Back to Blog</button></a> -->
        
                <h1 class="header-title">IRREGULAR PERIODS</h1>
                <!-- <img src="Late-Period.jpg" alt="" class="header-img"> -->
        
            </div>
        </section>
        
        
        <section class="post-content post-container">

            <h2 class="sub-heading">Factors that Cause Uneven Periods</h2>
            <p class="post-text">
                <li>Anaemia i.e. drop in the blood's overall level of red blood cells (RBCs) or haemoglobin.</li>
                <li>Weight loss or gain</li>
                <li>Menopause </li>
                <li>Thyroid disorders</li>
                <li>Hormonal imbalance</li>
                <li>Liver disease</li>
                <li>Tuberculosis</li>
                <li>Miscarriage and other health conditions</li>
                <li>excessive caffeine and alcohol consumption</li>
            </p>

            <p class="post-text">This issue can also arise due to lifestyle factors such as increased smoking,
                drinking too much alcohol, coffee, travelling, stress, and the use of certain birth control pills
                and drugs. You can experiment with a variety of home remedies to treat irregular menstruation.
            </p>
            <!-- <h2 class="sub-heading">2.Low Body Weight </h2> -->

            <h2 class="sub-heading">1. Pineapple</h2>

            <p class="post-text">
                An enzyme called bromelain is found in pineapples, and it may help to relieve inflammation.
                Inflammation plays a role in some menstrual cycle irregularities.
                Although studies have not discovered a connection between the two, some people think that eating
                pineapple may help control periods. More research is required to determine whether pineapple can
                help with irregular periods.
                Like other fruit juices, pineapple juice contains a lot of sugar and is not recommended for
                diabetics.
            </p>

            <h2 class="sub-heading">2. Turmeric</h2>

            <p class="post-text">
                Uneven periods are one health ailment for which turmeric is a well-liked home treatment. Its
                capacity to control periods, however, is untested.
                Scientists have discovered that turmeric has a major anti-inflammatory effect. An active component
                of turmeric called curcumin has been shown in studies to have anti-inflammatory properties.
            </p>

            <h2 class="sub-heading">3. Apple cider vinegar</h2>

            <p class="post-text">
                According to preliminary study, consuming apple cider vinegar may help PCOS sufferers control their
                ovulation. To demonstrate this benefit, however, researchers must conduct additional studies. With
                only seven participants, the study in question was too tiny to draw any firm conclusions.

            </p>

            <h2 class="sub-heading">4. Exercise regularly</h2>

            <p class="post-text">
                Exercise can support regular menstrual periods by regulating hormones, lowering stress, and
                maintaining a healthy weight.

            </p>

            <h2 class="sub-heading">5. Reduce stress</h2>

            <p class="post-text">
                Stress can mess with your hormones and make your periods unpredictable. Stress reduction can be
                aided by relaxation methods like yoga, meditation, or deep breathing.
            </p>

            <h2 class="sub-heading">6. Eating healthy diet</h2>

            <p class="post-text">
                A diet high in fruits, vegetables, whole grains, and lean protein helps encourage regular menstrual
                periods by regulating hormones.

            </p>

            <h2 class="sub-heading">7. Ginger tea</h2>

            <p class="post-text">
                Ginger has been used for centuries to regulate menstrual cycles. Drinking ginger tea can help to
                balance hormones and reduce menstrual cramps.
            </p>

            <h2 class="sub-heading">8. Chasteberry</h2>

            <p class="post-text">
                Chasteberry, also known as vitex, is an herb that can help regulate hormonal imbalances and promote
                regular menstrual cycles.
            </p>

            <h2 class="sub-heading">9. Magnesium-rich foods</h2>

            <p class="post-text">
                Magnesium is an important mineral for regulating hormones and maintaining menstrual health. Foods
                high in magnesium include spinach, almonds, and avocados.
            </p>

            <h2 class="sub-heading">10. Vitamin B6</h2>

            <p class="post-text">
                Vitamin B6 is an important nutrient for regulating hormones. Foods high in vitamin B6 include
                chickpeas, salmon, and bananas.
            </p>

            <p class="post-text">
                It's important to note that these remedies are not guaranteed to work for everyone and it's always
                best to consult with a doctor before trying any new remedies.
            </p>




        </section>
      
        <!-- <div class="text-box">
            
           
            
        

        </div> -->
        
        <div class="navigation_btn">
            <a href="menstrualPainHR" class="prev_btn">Previous</a>
            <a href="lightPeriods" class="next_btn">Next</a>
         </div>

         <!-- footer section starts -->
 {% include "footer.html" %}
 <!-- footer section ends -->
    </section>




  </section>




    <script src="{%static 'content.js'%}"></script>

</body>
</html>