{% load static %}



<!DOCTYPE html>
<html lang="en">
    {% include "header.html" %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!----======== CSS ======== -->
    <link rel="stylesheet" href="{%static 'content.css'%}">

    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <script src="https://kit.fontawesome.com/ace75cb71d.js" crossorigin="anonymous"></script>

    <title>Dashboard Sidebar Menu</title>
</head>

<body>
    
    <!-- nav -->
   
    <!-- header end -->

    <!-- home section start -->
    <section class="home-section">

        <nav class="sidebar close">
            <header>
                <i class='bx bx-chevron-right toggle'></i>
            </header>
    
            <div class="menu-bar">
                <div class="menu">
    
    
                    <ul class="menu-links">
                        <li class="nav-link">
                            <a href="homeRemedies">
                                <i class="fa-solid fa-mortar-pestle icon" title="Home Remedies"></i>
                                <span class="text nav-text">Home Remedies
                                </span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="menopause">
                                <i class="fa-solid fa-venus icon" title="Menopause"></i>
                                <span class="text nav-text">Menopause</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="skinChange">
                                <i class="fa-solid fa-spray-can-sparkles icon" title="Skin and Hairs"></i>
                                <span class="text nav-text">Skin and Hairs</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="#">
                                <i class="fa-solid fa-hands-holding-child icon" title="Anganwadi"></i>
                                <span class="text nav-text">Anganwadi</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="hygiene">
                                <i class="fa-solid fa-hands-bubbles icon" title="Hygiene"></i>
                                <span class="text nav-text">Hygiene</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="#">
                                <i class="fa-solid fa-person-walking icon" title="Diet and Exercise"></i>
                                <span class="text nav-text">Diet and Exercise</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="#">
                                <i class="fa-regular fa-face-tired icon" title="Emotions"></i>
                                <span class="text nav-text">Emotions</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="doDont">
                                <i class="fa-solid fa-clipboard-list icon" title="Do's and Do not's"></i>
                                <span class="text nav-text">Do's and Do not's</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="#">
                                <i class="fa-solid fa-droplet icon" title="Bleeding"></i>
                                <span class="text nav-text">Bleeding</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="whylate">
                                <i class="fa-solid fa-clock icon" title="Why Late?"></i>
                                <span class="text nav-text">Why Late?</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="quiz">
                                <i class="fa-solid fa-question icon" title="Awareness Quiz"></i>
                                <span class="text nav-text">Awareness Quiz</span>
                            </a>
                        </li>
    
                    </ul>
                </div>
    
                
            </div>
    
        </nav>


        <section class="home">
            <section class="post-heater">
                <div class="header-content post-container">

                    <!-- <a href="blog"><button id="post" class="normal">Back to Blog</button></a> -->

                    <h1 class="header-title">MENOPAUSE
                    </h1>
                    <!-- <img src="Late-Period.jpg" alt="" class="header-img"> -->

                </div>
            </section>


            <section class="post-content post-container">

                <!-- <h2 class="sub-heading">Factors that Cause Uneven Periods</h2> -->
                <!-- <h2 class="sub-heading">CAUSES:
            </h2> -->

                <p class="post-text">
                    <b>When a woman has gone 12 months without a menstrual period, she has reached menopause. The
                        menopause, which signals the end of your reproductive years, is a normal aspect of ageing.
                        Menopause often begins at age 51.
                        three stages of menopause
                    </b>

                </p>

                <h2 class="sub-heading">1. Perimenopause or “menopause transition" :
                </h2>


                <p class="post-text">
                    When your ovaries progressively start producing less oestrogen, perimenopause can start eight to ten
                    years before menopause. It typically begins when you are in your forties. Up until menopause, when
                    your ovaries cease producing eggs, is when you're in perimenopause. The reduction in oestrogen
                    quickens in the latter one to two years of perimenopause. Many people may be exhibiting menopause
                    symptoms at this time. Yet, you can still become pregnant during this time and are still having
                    menstrual cycles.


                </p>


                <h2 class="sub-heading">2. Menopause : </h2>
                <p class="post-text">
                    As you reach menopause, your menstrual cycles stop. Your ovaries have finished producing the
                    majority of their oestrogen at this point, and they no longer release eggs. When you have gone 12
                    months without a monthly period, a medical professional will diagnose menopause.

                </p>
                <h2 class="sub-heading">3. Postmenopause : </h2>

                <p class="post-text">
                    This is the time span that follows a year without having a period (or the rest of your life after
                    menopause). Menopausal symptoms like hot flashes may lessen during this phase. Nonetheless, a decade
                    or longer following the menopause transition, some persons still suffer menopausal symptoms. People
                    in the postmenopausal phase are more susceptible to a number of diseases, including osteoporosis and
                    heart disease, as a result of a lower oestrogen level.


                </p>

                <p class="post-text"><b>Normal age for menopause :
                    </b> the transition to menopause usually begins in your mid-40s.
                </p>

                <h2 class="sub-heading">signs of menopause : </h2>
                <p class="post-text">
                    <li>Vasomotor symptoms, also referred to as hot flashes (a sudden feeling of warmth that spreads
                        over your body).
                    </li>
                    <li>Cold flashes and/or night sweats.
                    </li>
                    <li>Discomfort from vaginal dryness during intercourse.
                    </li>
                    <li>Urge to urinate (a pressing need to pee more frequently). </li>
                    <li>Trouble sleeping (insomnia).
                    </li>
                    <li>Emotional alterations (irritability, mood swings or mild depression).
                    </li>
                    <li>dry eyes, dry mouth, or dry skin.
                    </li>
                    <li>breast sensitivity.
                    </li>
                    <li>An increase in premenstrual syndrome (PMS).
                    </li>
                    <li>Periods that are heavier or lighter than usual or that are irregular.
                    </li>
                    <li>pounding heart.
                    </li>
                    <li>Headaches.
                    </li>
                    <li>Aches and pains in muscles and joints.
                    </li>
                    <li>Concentration issues or memory problems (often temporary).
                    </li>
                    <li>gaining weight.
                    </li>
                    <li>hair thinning or loss.
                    </li>

                </p>



                <p class="post-text">These symptoms are brought on by changes in your hormone levels. While some women
                    may experience severe menopause symptoms, others may only experience minor ones. Not everyone going
                    through the menopause will experience the same symptoms.

                    If you're unsure if your symptoms are caused by menopause or another medical problem, speak with a
                    healthcare professional.
                </p>





            </section>

            <!-- <div class="text-box">
        
       
        
    

    </div> -->
            <div class="navigation_btn">
                <a href="vaginalItching" class="prev_btn">Previous</a>
                <a href="rashes" class="next_btn">Next</a>
            </div>
 <!-- footer section starts -->
 {% include "footer.html" %}
 <!-- footer section ends -->
        </section>



    </section>




    <script src="{%static 'content.js'%}"></script>

</body>

</html>