
<!DOCTYPE html>
<html lang="en">
    {% load static %}
    {% include "header.html" %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!----======== CSS ======== -->
    <link rel="stylesheet" href="{%static 'content.css'%}">

    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <script src="https://kit.fontawesome.com/ace75cb71d.js" crossorigin="anonymous"></script>

    <title>Dashboard Sidebar Menu</title>
</head>

<body>
    <!-- nav -->
   
    <!-- header end -->

    <!-- home section start -->
    <section class="home-section">

        <nav class="sidebar close">
            <header>
                <i class='bx bx-chevron-right toggle'></i>
            </header>
    
            <div class="menu-bar">
                <div class="menu">
    
    
                    <ul class="menu-links">
                        <li class="nav-link">
                            <a href="homeRemedies">
                                <i class="fa-solid fa-mortar-pestle icon" title="Home Remedies"></i>
                                <span class="text nav-text">Home Remedies
                                </span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="menopause">
                                <i class="fa-solid fa-venus icon" title="Menopause"></i>
                                <span class="text nav-text">Menopause</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="skinChange">
                                <i class="fa-solid fa-spray-can-sparkles icon" title="Skin and Hairs"></i>
                                <span class="text nav-text">Skin and Hairs</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="#">
                                <i class="fa-solid fa-hands-holding-child icon" title="Anganwadi"></i>
                                <span class="text nav-text">Anganwadi</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="hygiene">
                                <i class="fa-solid fa-hands-bubbles icon" title="Hygiene"></i>
                                <span class="text nav-text">Hygiene</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="#">
                                <i class="fa-solid fa-person-walking icon" title="Diet and Exercise"></i>
                                <span class="text nav-text">Diet and Exercise</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="#">
                                <i class="fa-regular fa-face-tired icon" title="Emotions"></i>
                                <span class="text nav-text">Emotions</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="doDont">
                                <i class="fa-solid fa-clipboard-list icon" title="Do's and Do not's"></i>
                                <span class="text nav-text">Do's and Do not's</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="#">
                                <i class="fa-solid fa-droplet icon" title="Bleeding"></i>
                                <span class="text nav-text">Bleeding</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="whylate">
                                <i class="fa-solid fa-clock icon" title="Why Late?"></i>
                                <span class="text nav-text">Why Late?</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="quiz">
                                <i class="fa-solid fa-question icon" title="Awareness Quiz"></i>
                                <span class="text nav-text">Awareness Quiz</span>
                            </a>
                        </li>
    
                    </ul>
                </div>
    
                
            </div>
    
        </nav>







        <section class="home">
            <section class="post-heater">
                <div class="header-content post-container">

                    <!-- <a href="blog"><button id="post" class="normal">Back to Blog</button></a> -->

                    <h1 class="header-title">How to manage oily hair during menstruation </h1>
                    <!-- <img src="css/sumi123.jpg" alt="" class="header-img"> -->

                </div>
            </section>


            <section class="post-content post-container">

                <p class="post-text">
                    <b>The oiliness of hair during menstruation is caused by hormonal fluctuations that can stimulate the production of sebum, the natural oil produced by the scalp. Here are some tips to help manage oily hair during menstruation:
                    </b>
                </p>
                <p class="post-text">
                    <b>1. Wash your hair regularly : </b> Washing your hair regularly can help remove excess oil and prevent it from building up on your scalp. Use a gentle shampoo and avoid over-washing, as this can strip your hair of its natural oils and make it more oily.
                </p>

                <p class="post-text">
                    <b>2. Use a clarifying shampoo : </b> A clarifying shampoo can help remove buildup from hair products and excess oil, leaving your hair feeling clean and fresh. Look for a clarifying shampoo that is gentle and does not contain harsh chemicals.
                </p>

                <p class="post-text">
                    <b>3. Use dry shampoo : </b> Dry shampoo can help absorb excess oil and extend the time between washes. Apply dry shampoo to your roots and work it into your scalp with your fingers.
                </p>


                <p class="post-text">
                    <b>4. Avoid touching your hair : </b> Touching your hair can transfer oil from your hands to your hair, making it more oily. Try to avoid touching your hair throughout the day.
                </p>
                <p class="post-text">
                    <b>5. Use hair accessories : </b> Use hair accessories such as headbands, hair ties, and hats to keep hair away from your face and prevent oil from transferring to your skin.
                </p>
                <p class="post-text">
                    <b>6. Avoid using heavy styling products : </b> Heavy styling products such as gels and hairsprays can make your hair more oily. Use lightweight styling products that do not contain alcohol or silicone.
                </p>

                <p class="post-text">
                    By following these tips, you can help manage the oiliness of hair during menstruation and keep your hair looking and feeling healthy. If the oiliness persists or is severe, consult a healthcare professional to rule out any underlying medical conditions.
                </p>

                                               
                
            </section>

            <!-- <div class="text-box">
        
       
        
    

    </div> -->
            <div class="navigation_btn">
                <a href="overcomedryness" class="prev_btn">Previous</a>
                <a href="whylate" class="next_btn">Next</a>
            </div>
    <!-- footer section starts -->
    {% include "footer.html" %}
    <!-- footer section ends -->
        </section>



    </section>









<script src="{%static 'content.js'%}"></script>

</body>

</html>