
<!DOCTYPE html>
<html lang="en">
    {% load static %}
    {% include "header.html" %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!----======== CSS ======== -->
    <link rel="stylesheet" href="{%static 'content.css'%}">

    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <script src="https://kit.fontawesome.com/ace75cb71d.js" crossorigin="anonymous"></script>

    <title>Dashboard Sidebar Menu</title>
</head>

<body>
    <!-- nav -->
  
    <!-- header end -->

    <!-- home section start -->
    <section class="home-section">

        <nav class="sidebar close">
            <header>
                <i class='bx bx-chevron-right toggle'></i>
            </header>
    
            <div class="menu-bar">
                <div class="menu">
    
    
                    <ul class="menu-links">
                        <li class="nav-link">
                            <a href="homeRemedies">
                                <i class="fa-solid fa-mortar-pestle icon" title="Home Remedies"></i>
                                <span class="text nav-text">Home Remedies
                                </span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="menopause">
                                <i class="fa-solid fa-venus icon" title="Menopause"></i>
                                <span class="text nav-text">Menopause</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="skinChange">
                                <i class="fa-solid fa-spray-can-sparkles icon" title="Skin and Hairs"></i>
                                <span class="text nav-text">Skin and Hairs</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="#">
                                <i class="fa-solid fa-hands-holding-child icon" title="Anganwadi"></i>
                                <span class="text nav-text">Anganwadi</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="hygiene">
                                <i class="fa-solid fa-hands-bubbles icon" title="Hygiene"></i>
                                <span class="text nav-text">Hygiene</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="#">
                                <i class="fa-solid fa-person-walking icon" title="Diet and Exercise"></i>
                                <span class="text nav-text">Diet and Exercise</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="#">
                                <i class="fa-regular fa-face-tired icon" title="Emotions"></i>
                                <span class="text nav-text">Emotions</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="doDont">
                                <i class="fa-solid fa-clipboard-list icon" title="Do's and Do not's"></i>
                                <span class="text nav-text">Do's and Do not's</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="#">
                                <i class="fa-solid fa-droplet icon" title="Bleeding"></i>
                                <span class="text nav-text">Bleeding</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="whylate">
                                <i class="fa-solid fa-clock icon" title="Why Late?"></i>
                                <span class="text nav-text">Why Late?</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="quiz">
                                <i class="fa-solid fa-question icon" title="Awareness Quiz"></i>
                                <span class="text nav-text">Awareness Quiz</span>
                            </a>
                        </li>
    
                    </ul>
                </div>
    
                
            </div>
    
        </nav>







        <section class="home">
            <section class="post-heater">
                <div class="header-content post-container">

                    <!-- <a href="blog"><button id="post" class="normal">Back to Blog</button></a> -->

                    <h1 class="header-title">How to overcome the dryness of hair ? </h1>
                    <!-- <img src="css/sumi123.jpg" alt="" class="header-img"> -->

                </div>
            </section>


            <section class="post-content post-container">

                <p class="post-text">
                    <b>Dryness of hair during menstruation can occur due to hormonal changes, stress, or dehydration. Here are some tips to help alleviate dryness of hair during menstruation:
                    </b>
                </p>
                <p class="post-text">
                    <b>1. Use a moisturizing shampoo and conditioner : </b> Look for products that contain natural moisturizing ingredients such as argan oil, coconut oil, or shea butter to help hydrate and nourish hair.
                </p>

                <p class="post-text">
                    <b>2. Use a hair mask : </b> Apply a deep conditioning hair mask once or twice a week to help hydrate and nourish dry hair. You can make your own hair mask at home using natural ingredients like avocado, honey, or yogurt.
                </p>

                <p class="post-text">
                    <b>3. Avoid excessive heat styling : </b> Heat styling tools such as hairdryers, straighteners, and curling irons can strip hair of its natural oils and make it more prone to dryness. Limit your use of heat styling tools or use them on the lowest heat setting.
                </p>


                <p class="post-text">
                    <b>4. Stay hydrated : </b> Drinking plenty of water can help keep your body hydrated, which can also help prevent the dryness of hair.
                </p>
                <p class="post-text">
                    <b>5. Eat a healthy diet : </b> Eating a balanced diet rich in vitamins and minerals can help promote healthy hair. Include foods that are rich in biotin, zinc, and iron, such as leafy greens, nuts, and lean meats.
                </p>
                <p class="post-text">
                    <b>6. Avoid harsh chemicals : </b> Harsh chemicals found in some hair products such as sulfates and parabens can strip hair of its natural oils and contribute to dryness. Look for products that are free from harsh chemicals and use natural alternatives when possible.
                </p>

                <p class="post-text">
                    By following these tips, you can help alleviate dryness of hair during menstruation and promote healthy, hydrated hair.
                </p>

                                               
                
            </section>

            <!-- <div class="text-box">
        
       
        
    

    </div> -->
            <div class="navigation_btn">
                <a href="sheddingofhairs" class="prev_btn">Previous</a>
                <a href="oilyhair" class="next_btn">Next</a>
            </div>

    <!-- footer section starts -->
    {% include "footer.html" %}
    <!-- footer section ends -->
        </section>


    </section>









<script src="{%static 'content.js'%}"></script>

</body>

</html>s