
{% load static %}

<!-- Coding by CodingLab | www.codinglabweb.com -->
<!DOCTYPE html>
<html lang="en">
    {% include "header.html" %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!----======== CSS ======== -->
    <link rel="stylesheet" href="{%static 'content.css'%}">

    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <script src="https://kit.fontawesome.com/ace75cb71d.js" crossorigin="anonymous"></script>

    <title>Dashboard Sidebar Menu</title>
</head>

<body>
    <!-- nav -->
   
    <!-- header end -->

    <!-- home section start -->
    <section class="home-section">

        <nav class="sidebar close">
            <header>
                <i class='bx bx-chevron-right toggle'></i>
            </header>
    
            <div class="menu-bar">
                <div class="menu">
    
    
                    <ul class="menu-links">
                        <li class="nav-link">
                            <a href="homeRemedies">
                                <i class="fa-solid fa-mortar-pestle icon" title="Home Remedies"></i>
                                <span class="text nav-text">Home Remedies
                                </span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="menopause">
                                <i class="fa-solid fa-venus icon" title="Menopause"></i>
                                <span class="text nav-text">Menopause</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="skinChange">
                                <i class="fa-solid fa-spray-can-sparkles icon" title="Skin and Hairs"></i>
                                <span class="text nav-text">Skin and Hairs</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="#">
                                <i class="fa-solid fa-hands-holding-child icon" title="Anganwadi"></i>
                                <span class="text nav-text">Anganwadi</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="hygiene">
                                <i class="fa-solid fa-hands-bubbles icon" title="Hygiene"></i>
                                <span class="text nav-text">Hygiene</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="#">
                                <i class="fa-solid fa-person-walking icon" title="Diet and Exercise"></i>
                                <span class="text nav-text">Diet and Exercise</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="#">
                                <i class="fa-regular fa-face-tired icon" title="Emotions"></i>
                                <span class="text nav-text">Emotions</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="doDont">
                                <i class="fa-solid fa-clipboard-list icon" title="Do's and Do not's"></i>
                                <span class="text nav-text">Do's and Do not's</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="#">
                                <i class="fa-solid fa-droplet icon" title="Bleeding"></i>
                                <span class="text nav-text">Bleeding</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="whylate">
                                <i class="fa-solid fa-clock icon" title="Why Late?"></i>
                                <span class="text nav-text">Why Late?</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="quiz">
                                <i class="fa-solid fa-question icon" title="Awareness Quiz"></i>
                                <span class="text nav-text">Awareness Quiz</span>
                            </a>
                        </li>
    
                    </ul>
                </div>
    
                
            </div>
    
        </nav>







        <section class="home">
            <section class="post-heater">
                <div class="header-content post-container">

                    <!-- <a href="blog"><button id="post" class="normal">Back to Blog</button></a> -->

                    <h1 class="header-title">How to protect skin during Menstrual Days</h1>
                    <!-- <img src="css/sumi123.jpg" alt="" class="header-img"> -->

                </div>
            </section>


            <section class="post-content post-container">



                <p class="post-text">
                    <b>Here are some tips for protecting your skin during your menstrual cycle:</b>

                </p>
                <p class="post-text">
                    <b>1. Hydrate :</b> Drink plenty of water to help keep your skin hydrated and healthy. You can also use a gentle moisturizer to keep your skin hydrated.
                </p>

                <p class="post-text">
                    <b>2. Avoid harsh skincare products : </b> During your menstrual cycle, your skin may be more sensitive than usual. Avoid using harsh products like exfoliating scrubs or astringents that can further irritate your skin.

                </p>

                <p class="post-text">
                    <b>3. Use a gentle cleanser : </b> Choose a gentle, non-comedogenic cleanser to wash your face, as harsh cleansers can strip your skin of its natural oils and make it more sensitive.

                </p>


                <p class="post-text">
                    <b>4. Wear sun protection : </b> Hormonal changes during your menstrual cycle can make your skin more sensitive to the sun. Wear broad-spectrum sunscreen with an SPF of at least 30 to protect your skin from harmful UV rays.

                </p>

                <p class="post-text">
                    <b>5. Reduce stress : </b> Stress can cause a flare-up of skin conditions like acne, so it's important to take steps to reduce stress during your menstrual cycle. This can include getting regular exercise, practicing mindfulness, or seeking support from friends and family.


                </p>
                <p class="post-text">
                    <b>6. Get plenty of rest : </b> Sleep is essential for overall health and well-being, including skin health. Make sure to get enough sleep each night to help keep your skin looking its best.
                </p>
                <p class="post-text">
                    <b>7. Consult a dermatologist : </b>  If you are experiencing skin changes during your menstrual cycle that concern you, consider speaking with a dermatologist. They can help you identify any underlying skin conditions and recommend personalized treatments to help keep your skin healthy and glowing.

                </p>
            </section>

            <!-- <div class="text-box">
        
       
        
    

    </div> -->
            <div class="navigation_btn">
                <a href="skinchange" class="prev_btn">Previous</a>
                <a href="whyacne" class="next_btn">Next</a>
            </div>
 <!-- footer section starts -->
 {% include "footer.html" %}
 <!-- footer section ends -->
        </section>



    </section>








<script src="{%static 'content.js'%}"></script>

</body>

</html>