{% load static %}


<!-- Coding by CodingLab | www.codinglabweb.com -->
<!DOCTYPE html>
<html lang="en">
    {% include "header.html" %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!----======== CSS ======== -->
    <link rel="stylesheet" href="{%static 'content.css'%}">

    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <script src="https://kit.fontawesome.com/ace75cb71d.js" crossorigin="anonymous"></script>

    <title>Dashboard Sidebar Menu</title>
</head>

<body>
    <!-- nav -->
    
    <!-- header end -->

    <!-- home section start -->
    <section class="home-section">

        <nav class="sidebar close">
            <header>
                <i class='bx bx-chevron-right toggle'></i>
            </header>
    
            <div class="menu-bar">
                <div class="menu">
    
    
                    <ul class="menu-links">
                        <li class="nav-link">
                            <a href="homeRemedies">
                                <i class="fa-solid fa-mortar-pestle icon" title="Home Remedies"></i>
                                <span class="text nav-text">Home Remedies
                                </span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="menopause">
                                <i class="fa-solid fa-venus icon" title="Menopause"></i>
                                <span class="text nav-text">Menopause</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="skinChange">
                                <i class="fa-solid fa-spray-can-sparkles icon" title="Skin and Hairs"></i>
                                <span class="text nav-text">Skin and Hairs</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="#">
                                <i class="fa-solid fa-hands-holding-child icon" title="Anganwadi"></i>
                                <span class="text nav-text">Anganwadi</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="hygiene">
                                <i class="fa-solid fa-hands-bubbles icon" title="Hygiene"></i>
                                <span class="text nav-text">Hygiene</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="#">
                                <i class="fa-solid fa-person-walking icon" title="Diet and Exercise"></i>
                                <span class="text nav-text">Diet and Exercise</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="#">
                                <i class="fa-regular fa-face-tired icon" title="Emotions"></i>
                                <span class="text nav-text">Emotions</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="doDont">
                                <i class="fa-solid fa-clipboard-list icon" title="Do's and Do not's"></i>
                                <span class="text nav-text">Do's and Do not's</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="#">
                                <i class="fa-solid fa-droplet icon" title="Bleeding"></i>
                                <span class="text nav-text">Bleeding</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="whylate">
                                <i class="fa-solid fa-clock icon" title="Why Late?"></i>
                                <span class="text nav-text">Why Late?</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="quiz">
                                <i class="fa-solid fa-question icon" title="Awareness Quiz"></i>
                                <span class="text nav-text">Awareness Quiz</span>
                            </a>
                        </li>
    
                    </ul>
                </div>
    
                
            </div>
    
        </nav>


        <section class="home">
            <section class="post-heater">
                <div class="header-content post-container">

                    <!-- <a href="blog"><button id="post" class="normal">Back to Blog</button></a> -->

                    <h1 class="header-title">Vaginal Itching And Discomfort
                    </h1>
                    <!-- <img src="Late-Period.jpg" alt="" class="header-img"> -->

                </div>
            </section>


            <section class="post-content post-container">

                <!-- <h2 class="sub-heading">Factors that Cause Uneven Periods</h2> -->
                <p class="post-text">
                    The reason of vaginal and vulvar itching will determine the best course of treatment. Home remedies
                    like applying natural yoghurt or honey or soaking in a warm bath with baking soda may be helpful. To
                    get a thorough therapy, it is usually best to visit a doctor.
                </p>

                <!-- <h2 class="sub-heading">2.Low Body Weight </h2> -->

                <h2 class="sub-heading">1. Bath oil </h2>

                <p class="post-text">
                    Dry skin can occasionally cause an itchy vulva.
                    The National Eczema Association (NEA) suggests hydrating the skin by incorporating mild oils into
                    bathwater.
                    Any bath oil with aroma should be avoided, as they can aggravate the region further.
                </p>

                <h2 class="sub-heading">2. Baking soda </h2>

                <p class="post-text">
                    Adding a quarter cup of baking soda to a bath or using it as a paste on the skin are two common ways
                    to ease itching, according to the NEA.
                    For additional itching relief, the Australian Menopause Society (AMS) advises bathing the vulva with
                    a weak baking soda solution. For every litre of water, they advise putting 1/2 a teaspoon of baking
                    soda.

                </p>

                <h2 class="sub-heading">3. Oatmeal
                </h2>

                <p class="post-text">
                    Oatmeal can also help relieve vulvar itching brought on by dry skin or skin diseases like eczema.
                    A 2015 small study with 29 female participants found that consuming colloidal oatmeal considerably decreased the itch's intensity.

                </p>

                <h2 class="sub-heading">4. Vitamin E
                </h2>

                <p class="post-text">
                    According to research, vitamin E may reduce vulvar or vaginal itching brought on by atopic dermatitis or menopause.
                    For instance, a 2016 study on the benefits of vitamin E suppositories found that they were effective in treating vaginal atrophy in women who had started the menopause (Trusted Source). The vaginal walls' drying, thinning, and inflammation are referred to as "vaginal atrophy".
                    There are several different kinds of vitamin E for vaginal health, including suppositories and lotions. The AMS also states that oral or topically administered vitamin E has this effect.

                </p>

                <h2 class="sub-heading">5. Yogurt and honey
                </h2>

                <p class="post-text">
                    Lactobacillus, a kind of bacteria that also resides in the genitalia, is a component of yoghurt.
                    According to some research, treating fungal infections that may be the cause of vaginal itching by putting yoghurt and honey on the vulva or inside the vagina may be beneficial.
                    According to a tiny 2015 study Trusted Source, people who used a vaginal cream, yoghurt, and honey concoction reported fewer symptoms of a yeast infection.
                    According to a more recent study published in 2021, the anti-yeast remedy clotrimazole may not be superior to honey and yoghurt in terms of effectiveness.
                    However, the authors of a 2019 publication from the Institute for Quality and Efficiency in Health Care, titled "Trusted Source," issued a warning that there is currently insufficient information.

                </p>

                <h2 class="sub-heading">6. Garlic</h2>

                <p class="post-text">
                    Some people think that injecting garlic within the vagina or ingesting garlic capsules can treat or prevent bacterial or fungal infections.
                    According to a 2015 assessment by Trusted Source, there isn't enough proof that this treatment is effective, and it could cause burns and allergic responses among other side effects.
                    Yet, a case study from 2018Trusted Source did shown that a subject's vaginal infection vanished as a result of the use of garlic in this way.
                </p>

            
                <p class="post-text">
                    Yet, a case study from 2018Trusted Source did shown that a subject's vaginal infection vanished as a result of the use of garlic in this way.
                </p>




            </section>

            <!-- <div class="text-box">
        
       
        
    

    </div> -->
            <div class="navigation_btn">
                <a href="vaginalInfectionsHR" class="prev_btn">Previous</a>
                <a href="absenceOfPeriods" class="next_btn">Next</a>
            </div>
 <!-- footer section starts -->
 {% include "footer.html" %}
 <!-- footer section ends -->
        </section>



    </section>




    <script src="{%static 'content.js'%}"></script>

</body>

</html>