{% load static %}


<!DOCTYPE html>
<html lang="en">
    {% include "header.html" %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!----======== CSS ======== -->
    <link rel="stylesheet" href="{%static 'content.css'%}">

    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <script src="https://kit.fontawesome.com/ace75cb71d.js" crossorigin="anonymous"></script>

    <title>Dashboard Sidebar Menu</title>
</head>

<body>
    <!-- nav -->
   
    <!-- header end -->

    <!-- home section start -->
    <section class="home-section">

        <nav class="sidebar close">
            <header>
                <i class='bx bx-chevron-right toggle'></i>
            </header>
    
            <div class="menu-bar">
                <div class="menu">
    
    
                    <ul class="menu-links">
                        <li class="nav-link">
                            <a href="homeRemedies">
                                <i class="fa-solid fa-mortar-pestle icon" title="Home Remedies"></i>
                                <span class="text nav-text">Home Remedies
                                </span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="menopause">
                                <i class="fa-solid fa-venus icon" title="Menopause"></i>
                                <span class="text nav-text">Menopause</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="skinChange">
                                <i class="fa-solid fa-spray-can-sparkles icon" title="Skin and Hairs"></i>
                                <span class="text nav-text">Skin and Hairs</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="#">
                                <i class="fa-solid fa-hands-holding-child icon" title="Anganwadi"></i>
                                <span class="text nav-text">Anganwadi</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="hygiene">
                                <i class="fa-solid fa-hands-bubbles icon" title="Hygiene"></i>
                                <span class="text nav-text">Hygiene</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="#">
                                <i class="fa-solid fa-person-walking icon" title="Diet and Exercise"></i>
                                <span class="text nav-text">Diet and Exercise</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="#">
                                <i class="fa-regular fa-face-tired icon" title="Emotions"></i>
                                <span class="text nav-text">Emotions</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="doDont">
                                <i class="fa-solid fa-clipboard-list icon" title="Do's and Do not's"></i>
                                <span class="text nav-text">Do's and Do not's</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="#">
                                <i class="fa-solid fa-droplet icon" title="Bleeding"></i>
                                <span class="text nav-text">Bleeding</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="whylate">
                                <i class="fa-solid fa-clock icon" title="Why Late?"></i>
                                <span class="text nav-text">Why Late?</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="quiz">
                                <i class="fa-solid fa-question icon" title="Awareness Quiz"></i>
                                <span class="text nav-text">Awareness Quiz</span>
                            </a>
                        </li>
    
                    </ul>
                </div>
    
                
            </div>
    
        </nav>







        <section class="home">
            <section class="post-heater">
                <div class="header-content post-container">

                    <!-- <a href="blog"><button id="post" class="normal">Back to Blog</button></a> -->

                    <h1 class="header-title">Why acne during Menstruation</h1>
                    <!-- <img src="css/sumi123.jpg" alt="" class="header-img"> -->

                </div>
            </section>


            <section class="post-content post-container">



                <p class="post-text">
                    Acne breakouts during the menstrual cycle are common and can be attributed to hormonal changes. During the menstrual cycle, hormone levels fluctuate, leading to an increase in oil production. This increase in oil can cause clogged pores, leading to breakouts and acne.
                </p>

                <p class="post-text">
                    Additionally, the hormone testosterone, which is present in both men and women, can also contribute to acne during the menstrual cycle. Testosterone stimulates the production of sebum, an oily substance that can clog pores and lead to breakouts.
                </p>

                <p class="post-text">
                    It's also important to note that stress, diet, and skincare habits can also contribute to acne breakouts during the menstrual cycle. To minimize the risk of flights, it's essential to maintain a healthy diet, limit stress, and use gentle skincare products that are non-comedogenic. If you are struggling with persistent acne, it may be helpful to speak with a dermatologist for personalized advice and treatment options.

                </p>
            </section>

            <!-- <div class="text-box">
        
       
        
    

    </div> -->
            <div class="navigation_btn">
                <a href="protectskin" class="prev_btn">Previous</a>
                <a href="acnebreakout" class="next_btn">Next</a>
            </div>
 <!-- footer section starts -->
 {% include "footer.html" %}
 <!-- footer section ends -->
        </section>



    </section>









<script src="{%static 'content.js'%}"></script>

</body>

</html>s