{% load static %}


<!DOCTYPE html>
<html lang="en">
    {% include "header.html" %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="{%static 'content.css'%}">
    
    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <script src="https://kit.fontawesome.com/ace75cb71d.js" crossorigin="anonymous"></script>
    
    <title>Dashboard Sidebar Menu</title> 
</head>
<body>
   <!-- nav -->
 
 <!-- header end -->

<!-- home section start -->
<section class="home-section" >
    
    <nav class="sidebar close">
        <header>
            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">


                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="homeRemedies">
                            <i class="fa-solid fa-mortar-pestle icon" title="Home Remedies"></i>
                            <span class="text nav-text">Home Remedies
                            </span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="menopause">
                            <i class="fa-solid fa-venus icon" title="Menopause"></i>
                            <span class="text nav-text">Menopause</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="skinChange">
                            <i class="fa-solid fa-spray-can-sparkles icon" title="Skin and Hairs"></i>
                            <span class="text nav-text">Skin and Hairs</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class="fa-solid fa-hands-holding-child icon" title="Anganwadi"></i>
                            <span class="text nav-text">Anganwadi</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="hygiene">
                            <i class="fa-solid fa-hands-bubbles icon" title="Hygiene"></i>
                            <span class="text nav-text">Hygiene</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class="fa-solid fa-person-walking icon" title="Diet and Exercise"></i>
                            <span class="text nav-text">Diet and Exercise</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class="fa-regular fa-face-tired icon" title="Emotions"></i>
                            <span class="text nav-text">Emotions</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="doDont">
                            <i class="fa-solid fa-clipboard-list icon" title="Do's and Do not's"></i>
                            <span class="text nav-text">Do's and Do not's</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class="fa-solid fa-droplet icon" title="Bleeding"></i>
                            <span class="text nav-text">Bleeding</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="whylate">
                            <i class="fa-solid fa-clock icon" title="Why Late?"></i>
                            <span class="text nav-text">Why Late?</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="quiz">
                            <i class="fa-solid fa-question icon" title="Awareness Quiz"></i>
                            <span class="text nav-text">Awareness Quiz</span>
                        </a>
                    </li>

                </ul>
            </div>

            
        </div>

    </nav>

    <section class="home">
        <section class="post-heater">
            <div class="header-content post-container">
        
                <!-- <a href="blog"><button id="post" class="normal">Back to Blog</button></a> -->
        
                <h1 class="header-title">WHY MY PERIOD IS LATE ?</h1>
                <img src="{%static 'Late-Period.jpg'%}" alt="" class="header-img">
        
            </div>
        </section>
        
        
        <section class="post-content post-container">
            <p class="post-text">Many women think that having a late menstruation means they are pregnant. Well, this isn't
                always the case. Numerous other factors, including hormone imbalance or a significant medical condition,
                might cause a late period. Therefore, if you're worried and wondering "Why is my period late?!" read on to
                learn about the various causes of early or later periods.
                When a girl initially gets her period and when menopause starts, irregular periods are common occurrences.
                It occurs because the woman's body is going through a change at this time.
                Before menopause, a healthy woman typically has her period every 28 days. However, if a woman has her
                periods every 21 to 35 days, there is no cause for concern, according to specialists. Other than pregnancy,
                a variety of factors, <b> some medical disorders, drugs, stress, working too hard, over-exercising, and
                    extreme weight loss or increase</b>, can change the pattern of your menstrual cycle.
        
            </p>
            <h2 class="sub-heading">1.Stress </h2>
            <p class="post-text">Although stress may appear to be a typical issue, it can actually have a very serious
                negative impact on your health. It may have an impact on your hormone levels and even harm the hypothalamus,
                a region of the brain that controls your period. Additionally, it may cause an abrupt change in weight,
                resulting in a late period.
                With certain lifestyle adjustments, such as increasing your regular exercise routine, stress can be easily
                eliminated. Yoga and meditation are additional options for stress relief.
            </p>
            <h2 class="sub-heading">2.Low Body Weight </h2>
            <p class="post-text">
                Women who have eating disorders like bulimia and anorexia may also experience missed or delayed periods. A
                woman may also have a late or skipped menstruation if her weight is less than 10% of what it should be for
                her height. Moreover, she might cease ovulating.
                The best course of action for this issue is to seek appropriate treatment for eating disorders and gain
                weight to get your menstrual cycle back to normal. Additionally, women who engage in intense activity may
                get a late period.
        
            </p>
            <h2 class="sub-heading">3.Obesity-Induced Late Period</h2>
            <p class="post-text">
                Overweight and underweight both contribute to hormonal imbalance. If your late period is caused by obesity,
                your doctor may prescribe certain dietary recommendations and an exercise regimen to treat it.
        
            </p>
            <h2 class="sub-heading">4.Polycystic Ovary Syndrome (PCOS) </h2>
            <p class="post-text">
                The female body begins manufacturing more androgens, a male hormone, when a woman has PCOS. The result of
                this hormonal imbalance is the development of cysts on the ovaries, which ultimately results in irregular or
                no ovulation.
                Other hormones, like insulin, are also out of balance as a result of PCOS. The goal of treatment is to
                reduce symptoms. To treat PCOS, medical professionals occasionally prescribe birth control or other drugs.
        
        
            </p>
            <h2 class="sub-heading">5.Birth Control </h2>
            <p class="post-text">
                Changes in your menstrual cycle may result from starting or quitting birth control tablets. These pills
                contain hormones like progestin and oestrogen, which prevent your ovaries from releasing eggs. Due to this,
                periods are missed or delayed.
                It can take six months for your cycles to resume being regular. A missed or delayed period can also result
                from using other birth control methods like implanted or injectable contraception.
        
            </p>
            <h2 class="sub-heading">6.Chronic Diseases </h2>
            <p class="post-text">Your cycle can be impacted by diabetes and celiac disease as well. Blood sugar fluctuations
                are brought on by hormonal imbalance. So, although it may be uncommon, you could miss or have a late period
                if your diabetes isn't under control.
            </p>
            <h2 class="sub-heading">7.Early Perimenopause 8.Thyroid Issues</h2>
            <p class="post-text">
                Women go through menopause between the ages of 45 and 55. However, menopausal symptoms might start to appear
                in some women as early as age 40. This state is known as perimenopause. It denotes insufficient egg
                production from your ovaries. That will cause missing periods and the cessation of menstruation.
        
            </p>
            <h2 class="sub-heading">8.Thyroid Issues </h2>
            
            <p class="post-text">
                Your recurring period-delay woes may be caused by underactive or hyperactive thyroid glands. Your thyroid
                gland maintains a healthy metabolism. Consequently, when it doesn't function properly, it may result in
                hormonal alterations. Medication is used by doctors to address this condition. You'll then start
                experiencing periods on a regular basis.
        
            </p>
            <h2 class="sub-heading">When Should You Consult a Physician? </h2>
            <p class="post-text">
                When their period is late or absent, people frequently put off seeing a gynaecologist. It can make your
                issue worse and lengthen the length of your treatment.
                Get in touch with a doctor right away to find out why your menstruation is late. If you have any of the
                following symptoms, we suggest that you consult a doctor:
        
        
                <li>Very heavy bleeding</li>
                <li>Extreme pain</li>
                <li>Nausea and vomiting</li>
                <li>Continuous bleeding for more than 7 days</li>
                <li>Bleeding after completing one year of menopause</li>
        
                
            </p>
            <h2 class="sub-heading">Conclusion </h2>
            <p class="post-text">
                Late or missed periods are among the most typical problems that women experience. But occasionally, it might be an indication of a more serious health issue. Consequently, it is crucial to visit a doctor at the appropriate moment. In addition, you should keep an eye on the symptoms mentioned above to rule out anything more serious.
        
            </p>
        
            <!-- <div class="navigation_btn">
                <a href="#" class="prev_btn">Previous</a>
                <a href="#" class="next_btn">Next</a>
             </div> -->
        </section>
      
        <!-- <div class="text-box">
            
           
            
        

        </div> -->
        
        <div class="navigation_btn">
            <a href="doDont" class="prev_btn">Previous</a>
            <a href="homeRemedies" class="next_btn">Next</a>
         </div>

        
   <!-- footer section starts -->
 {% include "footer.html" %}
 <!-- footer section ends -->
    </section>


</section>

  </section>




    <script src="{%static 'content.js'%}"></script>

</body>
</html>