@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style: none;
  /* font-family: 'Poppins'; */
  font-family: "Merriweather";
}

body{
  line-height: 2;
  /* background: #116b6b; */
  /* background-image: url("backgrd.jpg"); */

}

/* header */

.header{
	position: fixed;
	width:100%;
	left:0;
	/* right: 0; */
	top:0;
	z-index: 100000;
	
}
.header .container .header-main{
	
	background-color: #F2D4D6;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0;
	box-shadow: 0 8px 6px -6px #f7b3b7;
	
}

.header .logo{
	padding-left: 1.5%;
}
.header .logo a{
	font-size: 30px;
	text-transform: capitalize;
	color: #A20000;
	font-weight: 600;
}
.header .nav-menu{
	padding: 0 15px;
}
.header .menu > .menu-item{
	display: inline-block;
	margin-left: 30px;
	position: relative;
}
.header .menu > .menu-item > a{
	display: block;
	padding: 12px 0;
	font-size: 16px;
	color: #A20000;
	text-transform: capitalize;
	font-weight: 600;
	/* border-radius: 2rem; */
	padding-left:0.5rem;
	padding-right:  0.5em;
	transition: all 0.3s ease;
}
.header .menu > .menu-item > a .plus{
	display: inline-block;
	height: 12px;
	width: 12px;
	position: relative;
	margin-left:5px; 
	pointer-events: none;
}
.header .menu > .menu-item > a .plus:before,
.header .menu > .menu-item > a .plus:after{
	content:'';
	position: absolute;
	box-sizing: border-box;
	left: 50%;
	top:50%;
	background-color: #000000;
	height: 2px;
	width: 100%;
	transform: translate(-50%,-50%);
	transition: all 0.3s ease;
}
.header .menu > .menu-item:hover > a .plus:before,
.header .menu > .menu-item:hover > a .plus:after{
   background-color: #A20000;

}
.header .menu > .menu-item > a .plus:after{
   transform: translate(-50%,-50%) rotate(-90deg);	
}

.header .menu > .menu-item > .sub-menu > .menu-item > a:hover,
.header .menu > .menu-item:hover > a{
	color: white;
    background-color: #A20000;
	border-radius: .4rem;
	
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	/* box-shadow: 0 20px 40px rgba(228, 165, 165, 0.859), 0 6px 6px rgba(210, 179, 179, 0.837); */
	/* box-shadow: 0 14px 28px rgba(228, 165, 165, 0.859), 0 10px 10px rgba(210, 179, 179, 0.837); */
	/* box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); */
}
.header .menu > .menu-item > .sub-menu{
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	width: 220px;
	position: absolute;
	left:0;
	top:100%;
	background-color: #ffffff;
	padding: 10px 0;
	border-top: 3px solid #A20000;
	border-bottom: 3px solid #A20000;
	transform: translateY(10px);
	transition: all 0.3s ease;
	opacity:0;
	visibility: hidden;
}
.header .menu > .menu-item > .sub-menu .menu-item:hover{
	font-size: 2rem;
}

/* 
.header .login{
	display: inline-block;
	margin-left: 30px;
	position: relative;
}

.header .login .login_a{
	position: relative;
	text-decoration: none;
	font-size: 16px;
	color: #A20000;
	text-transform: capitalize;
	font-weight: 600;
	letter-spacing: 0.5px;
	padding: 0 10px;
}

.header .login .login_a:after{
	content: "";
	position: absolute;
	background-color: #A20000;
	height: 2px;
	width: 0;
	left: 0;
	bottom: -10px;
	transition: 0.3s;
}

.header .login .login_a:hover:after{
	width: 100%;
} */

.header .login{
    display: inline-block;
	margin-left: 30px;
	position: relative;
}
.header .login{
    position: relative;
	text-decoration: none;
	font-size: 16px;
	color: #A20000;
	text-transform: capitalize;
	font-weight: 600;
	letter-spacing: 0.5px;
	padding: 0 10px;
}

.header .login .login_a{
	color: #A20000;
}

.header .login .login_a::after{

	/* content: "";
	position: absolute;
	background-color: #A20000;
	height: 2px;
	width: 0;
	left: 0;
	bottom: -10px;
	transition: 0.3s; */
	
    content: "";
    display: block;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    background-color: #A20000;
    margin-top: 0.5rem;
    width: 0;
    transition: width 0.4s ease-out;
}
.header .login .login_a:hover::after{
    width: 100%;
}
.header .login .login_a:hover{
    opacity: 0.8;
}
login_a{
  display: block;
}
@media(min-width: 992px){
.header .menu > .menu-item-has-children:hover > .sub-menu{
	transform: translateY(0);
	opacity: 1;
	visibility: visible;
 }
 .header .menu > .menu-item-has-children:hover > a .plus:after{
    transform: translate(-50%,-50%) rotate(0deg);		
 }
}

.header .menu > .menu-item > .sub-menu > .menu-item{
	display: block;
}
.header  .menu > .menu-item > .sub-menu > .menu-item > a{
	display: block;
	padding: 10px 20px;
	font-size: 16px;
	font-weight: 600;
	color: #A20000;
	transition: all 0.3s ease;
	text-transform: capitalize;
}
.header  .open-nav-menu{
	height: 34px;
	width: 40px;
	margin-right: 15px;
	display: none;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.header .open-nav-menu span{
	display: block;
	height: 3px;
	width: 24px;
	background-color: #000000;
    position: relative;
}
.header  .open-nav-menu span:before,
.header  .open-nav-menu span:after{
	content: '';
	position: absolute;
	left:0;
	width: 100%;
	height: 100%;
	background-color: #000000;
	box-sizing: border-box;
}
.header .open-nav-menu span:before{
	top:-7px;
}
.header  .open-nav-menu span:after{
	top:7px;
}
.header  .close-nav-menu{
	height: 40px;
	width: 40px;
	background-color: #A20000;
	margin:0 0 15px 15px;
	cursor: pointer;
	display: none;
	align-items: center;
	justify-content: center;
}
.header  .close-nav-menu img{
	width: 16px;
}
.header .menu-overlay{
	position: fixed;
	z-index: 999;
	background-color: rgba(0,0,0,0.5);
	left:0;
	top:0;
	height: 100%;
	width: 100%;
	visibility: hidden;
	opacity:0;
	transition: all 0.3s ease;
}

/*home section*/
.home-section{
	
    box-sizing: border-box;
	margin-top: 4.1rem;
	height:100%;
    background: url(background-pink-.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
	/* background-image: url('../img/home.jpg'); */
	
	
}



/* update */

/* responsive */

@media(max-width: 991px){
	.header .menu-overlay.ayctive{
	visibility: visible;
	opacity: 1;
}
	.header .nav-menu{
		position: fixed;
		right: -280px;
		visibility: hidden;
		width: 280px;
		height: 100%;
		top:0;
		overflow-y: auto;
		background-color: #A20000;
		z-index: 1000;
		padding: 15px 0;
		transition: all 0.5s ease;
	}
	.header .nav-menu.open{
		visibility: visible;
		right: 0px;
	}
	.header .menu > .menu-item{
		display: block;
		margin:0;
	}
	.header .menu > .menu-item-has-children > a{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.header .menu > .menu-item > a{
		color: #ffffff;
		padding: 12px 15px;
		border-bottom: 1px solid #333333;
	}
	.header .menu > .menu-item > a:hover{
		background-color:#E1B0AC ;
		color:#A20000 ;
		padding: 12px 15px;
		border-bottom: 1px solid #333333;
	}
	.header .menu > .menu-item:first-child > a{
	    border-top: 1px solid #333333;	
	}
	.header .menu > .menu-item > a .plus:before, 
	.header .menu > .menu-item > a .plus:after{
		background-color: #A20000;
	}
	.header .menu > .menu-item-has-children.active > a .plus:after{
        transform: translate(-50%,-50%) rotate(0deg);
	}
	.header .menu > .menu-item > .sub-menu{
		width: 100%;
		position: relative;
		opacity: 1;
		visibility: visible;
		border:none;
		background-color: transparent;
		box-shadow: none;
		transform: translateY(0px);
		padding: 0px;
		left: auto;
		top:auto;
		max-height: 0;
		overflow: hidden;
	}
	.header .menu > .menu-item > .sub-menu > .menu-item > a{
		padding: 12px 45px;
		color: #ffffff;
		border-bottom: 1px solid #A20000;
	}
	.header .close-nav-menu,
	.header .open-nav-menu{
		display: flex;
	}
}



.navsection{
  background: white;
  height: 120px;
  width: 100%;
  padding: 0;
  margin-top: 0;
}

img.logoimg{
  margin:auto;
  padding: 1rem;
  margin-left: 5rem;
  margin-top:1.2rem;
}

.navsection .navul{
  float: right;
  margin-right: 20px;
  margin-top: 2rem;
}
.navsection .navul .navli{
  display: inline-block;
  line-height: 80px;
  /* margin: 0 5px; */
}

.navsection .navul .navli .nava{
  /* color: #CB0F80; */
  color: rgb(199, 34, 34);
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: bold;
}

.navsection .navul .navli .nava:hover{
  color:white;
  font-size: 1rem;
  transition: all 0.4s ease;
}


.navli.active , .nava:hover{
  /* background: #CB0F80; */
  background: rgb(199, 34, 34);
  transition: .5s;
  color:white;
}

.navli.active{
  background-color: rgb(199, 34, 34);
  color: white;
}


.checkbtn{
  font-size: 30px;
  /* color: #CB0F80; */
  color: rgb(199, 34, 34);
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
  .logo .logoimg{
    font-size: 30px;
    padding-left: 50px;
  }
  .navsection .navul .navli .nava{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  .navul{
    position: fixed;
    width: 100%;
    height: 100vh;
    /* background: #CB0F80; */
    background: rgb(199, 34, 34);
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    color:white;
  }
  .navsection .navul .navli{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  .navsection .navul .navli .nava{
    font-size: 20px;
    color:white;
  }

  .nava.active{
    /* background:white;
    color: #CB0F80;
    transition: .5s; */
    text-decoration: underline;
    color: white;
  }

  .nava:hover{
    color: white;
  }

  #check:checked ~ .navul{
    left: 0;
  }
}
.navsec{
  background: url(bg1.jpg) no-repeat;
  background-size: cover;
  height: calc(70vh - 80px);
  
}

.wrapper{
  display: flex;
  max-width: 660px;
  width: 100%;
  height: 33rem;
  margin-top: 35%;
  position: relative;
  top: 80%;
  left:50%;
  transform: translate(-50%,-50%);
border: 2px solid #a20000;
}


.wrapper .left{
  width: 50%;
  height: 100%;
  padding: 4px;
}

.wrapper .right{
  width: 50%;
  height: 100%;
  padding: 30px;
  
}

.wrapper .left{
  background: white;
}



.wrapper .left img{
  display: block;
  padding-top: 4rem;
  width: 101%;
  height: 95%;
}

.wrapper .right{
  background: #fff;
}

.wrapper .right .tabs ul{
  text-align: center;
}

.wrapper .right .tabs ul li{
  display: inline-block;
  margin: 5px;
  padding: 5px 10px;
  font-size: 14px;
  color:#a20000;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
}

.wrapper .right .tabs ul li.active{
  border-bottom: 2px solid #a20000;
}

.wrapper .right .register,
.wrapper .right .login{
  margin-top: 20px;
}

.wrapper .right .input_field{
  margin-bottom: 15px;
}

.wrapper .right .input_field .input{
  width: 100%;
  padding: 10px 15px;
  border: 0;
  font-size: 12px;
  background: #ecebeb;
}

.wrapper .right .btn{
  margin-top: 20px;
  background: #a20000;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
  cursor: pointer;
}

.wrapper .right .btn a{
  color: #fff;
  display: block;
  font-size: 14px;
}

.wrapper .right .btn input{
  background:#a20000;
  color: #fff;
 border: none;
 font-size: 1rem;
 cursor: pointer;
}

.wrapper .right a {
  font-size: small;
  color: #a20000;
}
.flex{
  display: flex;
padding: 1 rem;
}

.login{
  padding-top: 6rem;
}

@media only screen and (max-width: 600px) {
  .wrapper{
    max-height: 650px;
  }
  .wrapper .right{
    width: 100%;
  }
  .wrapper .left{
    width: 0%;
  }
}



