@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,400;1,700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Merriweather";
}

:root{
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}
 

/* ---------------------nav--------------------- */

body{
	line-height: 2;
	font-family: 'Merriweather', sans-serif;
	font-weight: 400;
	background:  whitesmoke;
}
body.hidden-scrolling{
	overflow-y: hidden;
}
*{
	margin:0;
	box-sizing: border-box;
}

#menu-item-discuss{
	background-color: #A20000;
	color:white;
	padding-left:0.8rem;
	padding-right:0.8rem;
	
}
/*header*/


body {    
    background-image:url('backgrd.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Merriweather', sans-serif;
}

#container {
    
    
    position: relative;
    top: 15%;
    left: 20%;
	margin-top: 5%;
	margin-bottom: 5%;
    padding: 20px;
    width: 55%;
    /* max-width: 600px; */
    background-color: #F2D4d6;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


h1 {
    margin-top: .1rem;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
    color: #A20000;
    text-shadow: 2px 2px #e0a4a4;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    margin-left: 6.5%;
    color: #A20000;
}

input[type="date"],
input[type="text"],
input[type="number"],
input[type="number"]
{
    padding: 8px;
    border-radius: 5px;
    border: none;
    /* box-shadow: 0 0 2px rgba(0, 0, 0, 0.2); */
    border-bottom: 1px solid black;
    width: 85%;
    margin-bottom: 20px;
    font-size: 16px;
    background-color: #f9e1e3;
    margin-left: 6.5%;

}


button[type="submit"] {
    padding: 10px 20px;
    background-color:#A20000 ;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 6.5%;
    margin-top: 1.5%;

}

button[type="submit"]:hover {
    background-color: #c25454;
}

.result {
    margin-top: 2.5rem;
    font-size: 18px;
    font-weight: bold;
    margin-left: 6.5%;
}

.error {
    color: red;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 6.5%;
}

#popup{
    width: 20rem;
    /* background: #e4a0a0; */
    background-image: url(backgrd.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    border-radius: 0.375rem;
    position: absolute;
    top:0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 1.875rem 1.875rem;
    color: #333;
	z-index: 10000;
   visibility:hidden;
    transition: transform 0.4s, top 0.4s;
}
#bg_blur{
	position:absolute;
    background: rgba(0, 0, 0, 0.648);
    z-index: 1;
	width:100vw;
	height:90.2%;
	display:none;
    
}

.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
}

.popup img{
    width: 6rem;
    margin-top: -11%;
    border-radius: 3.125rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}


.popup button{
    width: 100%;
    margin-top: 2.5rem;
    padding: .625rem 0;
    background: #a20000;
    color: #F2D4d6;
    border: 0;
    outline: none;
    font-size: 1.125rem;
    border-radius:0.25rem ;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

